In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
predf = pd.read_csv('../../data/usa_00004.csv.gz')

In [3]:
predf =  predf.loc[predf['PERNUM'] == 1]

In [4]:
predf = predf.drop(['SAMPLE', 'SERIAL', 'CBSERIAL', 'CLUSTER', 'COUNTYICP','STRATA','PERNUM_HEAD', 'GQ', 'RACED'], axis = 1)

In [5]:
predf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88979 entries, 0 to 210221
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   YEAR       88979 non-null  int64
 1   HHWT       88979 non-null  float64
 2   STATEFIP   88979 non-null  int64
 3   COUNTYFIP  88979 non-null  int64
 4   PERNUM     88979 non-null  int64
 5   PERWT      88979 non-null  float64
 6   SEX        88979 non-null  int64
 7   AGE        88979 non-null  int64
 8   MARST      88979 non-null  int64
 9   RACE       88979 non-null  int64
 10  HCOVANY    88979 non-null  int64
 11  EDUC       88979 non-null  int64
 12  EDUCD      88979 non-null  int64
 13  EMPSTAT    88979 non-null  int64
 14  EMPSTATD   88979 non-null  int64
 15  FTOTINC    88979 non-null  int64
dtypes: float64(2), int64(14)
memory usage: 11.5 MB

In [6]:
predf.EMPSTATD.value_counts()

10    48919
30    36357
20     1957
12     1096
14      487
0       160
15        3
Name: EMPSTATD, dtype: int64

In [7]:
predf['COUNTYFIP'] = predf.COUNTYFIP.astype(str).str.zfill(3)

In [8]:
predf.HHWT = round(predf['HHWT']).astype(int)

In [9]:
df = predf

In [10]:
def YearStateDF(df, year, statefip):
    dfstate = df.loc[(df['YEAR'] == year) & (df['STATEFIP'] == statefip)]
    dfstatewt = dfstate.loc[dfstate.index.repeat(dfstate.HHWT)]
    newdf = dfstatewt.set_index('COUNTYFIP')
    return newdf

In [11]:
def NumericDF(df):
    inc = pd.DataFrame(df.groupby('COUNTYFIP')['FTOTINC'].mean().round(decimals=2))
    df['avg_inc'] = inc['FTOTINC']
    age = pd.DataFrame(df.groupby('COUNTYFIP')['AGE'].mean().round(decimals=2))
    df['avg_age'] = age['AGE']
    educ = pd.DataFrame(df.groupby('COUNTYFIP')['EDUC'].mean().round(decimals=2))
    df['avg_educ'] = educ['EDUC']
    educd = pd.DataFrame(df.groupby('COUNTYFIP')['EDUCD'].mean().round(decimals=2))
    df['avg_educd'] = educd['EDUCD']
    #ins = pd.DataFrame(df.groupby('COUNTYFIP')['HCOVANY'].mean().round(decimals=2))
    #df['avg_ins'] = ins['HCOVANY']
    df.drop(['FTOTINC', 'AGE', 'EDUC', 'EDUCD'], axis = 1)
    return df

In [ ]:
def catmap(df, column, dict):
    df[column].map(dict)
    dfcatmap = df.reset_index().groupby(['COUNTYFIP', column]).count().reset_index().pivot(columns=column, 
                                                                                         index='COUNTYFIP',
                                                                                        values='YEAR')
    return dfcatmap

In [12]:
pd.DataFrame(df.groupby(['STATEFIP', 'COUNTYFIP']).count().T.sum()).reset_index().groupby('STATEFIP').sum()

               0
STATEFIP
6         412720
12        252756
17        152670
26        122626
48        304934

In [13]:
df.STATEFIP.unique()

array([ 6, 12, 17, 26, 48])

In [14]:
#df.STATEFIP.value_counts()

In [15]:
TX2015 = YearStateDF(df, 2015, 48)
TX2015

,YEAR,HHWT,STATEFIP,PERNUM,PERWT,SEX,AGE,MARST,RACE,HCOVANY,EDUC,EDUCD,EMPSTAT,EMPSTATD,FTOTINC
COUNTYFIP,,,,,,,,,,,,,,,
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400

In [16]:
#TX2015 = YearStateDf(df, 2015, 48)
#TX2015

In [17]:
TX2015 = NumericDF(TX2015)
TX2015

,YEAR,HHWT,STATEFIP,PERNUM,PERWT,SEX,AGE,MARST,RACE,HCOVANY,EDUC,EDUCD,EMPSTAT,EMPSTATD,FTOTINC,avg_inc,avg_age,avg_educ,avg_educd
COUNTYFIP,,,,,,,,,,,,,,,,,,,
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200,341840.03,47.51,7.02,72.55
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200,341840.03,47.51,7.02,72.55
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200,341840.03,47.51,7.02,72.55
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200,341840.03,47.51,7.02,72.55
113,2015,3593,48,1,3592.80,2,69,5,1,2,7,71,3,30,125200,341840.03,47.51,7.02,72.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400,392355.49,49.49,5.66,58.97
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400,392355.49,49.49,5.66,58.97
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400,392355.49,49.49,5.66,58.97
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400,392355.49,49.49,5.66,58.97
215,2015,2949,48,1,2964.06,2,69,4,1,2,0,2,3,30,11400,392355.49,49.49,5.66,58.97

In [18]:
TX2015['RACE'].value_counts()

1    7636711
2    1358455
7     402931
6     373068
8     168798
4      75555
3      59655
9      12695
5       7081
Name: RACE, dtype: int64

In [19]:
predf.EMPSTATD.value_counts()

10    48919
30    36357
20     1957
12     1096
14      487
0       160
15        3
Name: EMPSTATD, dtype: int64

In [32]:
categoricals

['SEX', 'MARST', 'RACE', 'RACED', 'EMPSTAT', 'EMPSTATD']

In [20]:
emp_mapper = {0:'NA',
10:'at_work',
12:'has_job_not_working',
14:'armed_forces_at_work',
15:'armed_forces_not_at_work_but_with_job',
20:'unemployed',
30:'not_in_labor_force'}

In [21]:
def catmap(df, column, dict):
    df[column].map(dict)
    dfcatmap = df.reset_index().groupby(['COUNTYFIP', column]).count().reset_index().pivot(columns=column, 
                                                                                         index='COUNTYFIP',
                                                                                        values='YEAR')
    return dfcatmap

In [22]:
txempstatd = catmap(TX2015, 'EMPSTATD', emp_mapper)
txempstatd

EMPSTATD       0          10       12       14     15       20        30
COUNTYFIP
000        5899.0   990169.0  17425.0   7739.0  449.0  51151.0  847334.0
027           NaN    74821.0   1078.0  15659.0    NaN  10838.0   23548.0
029        1332.0   395391.0   9252.0  13308.0    NaN  19132.0  188857.0
039           NaN   104339.0      NaN      NaN    NaN      NaN   34176.0
041           NaN    45776.0      NaN      NaN    NaN   1168.0   34565.0
061           NaN    79460.0      NaN      NaN    NaN   2245.0   59206.0
085           NaN   246302.0    210.0   1976.0    NaN   5957.0   58139.0
091           NaN    37395.0      NaN      NaN    NaN    838.0   21708.0
113         150.0   676713.0  11617.0      NaN    NaN  15510.0  285437.0
121           NaN   207026.0   3428.0      NaN    NaN   6256.0   89276.0
135           NaN    48233.0   1048.0      NaN    NaN   2500.0    9626.0
139           NaN    22932.0      NaN      NaN    NaN   2515.0    6528.0
141          75.0   161148.0   8577.0  19625.0    NaN  19086.0  100761.0
157           NaN   138936.0      NaN      NaN    NaN    988.0   44353.0
167           NaN    74699.0   1198.0      NaN    NaN   5389.0   38263.0
183           NaN    41438.0      NaN      NaN    NaN    913.0   17156.0
187           NaN    42499.0      NaN      NaN    NaN   1063.0   16872.0
201         599.0  1126924.0  21600.0   1632.0    NaN  37336.0  435222.0
209           NaN    76483.0      NaN      NaN    NaN      NaN   20719.0
215           NaN   137948.0   1826.0      NaN    NaN  13232.0   79277.0
245           NaN    62617.0   7530.0    449.0    NaN   5839.0   53848.0
251           NaN    21556.0   3218.0      NaN    NaN      NaN   23008.0
257           NaN    30168.0      NaN      NaN    NaN      NaN   12576.0
303           NaN    76902.0   3458.0      NaN    NaN   2784.0   39327.0
309        1407.0    58518.0    180.0      NaN    NaN   3188.0   34191.0
329           NaN    36122.0   1841.0      NaN    NaN      NaN   19116.0
339           NaN    88308.0      NaN      NaN    NaN   1123.0   63967.0
355           NaN   106796.0   4027.0      NaN    NaN   2829.0   42244.0
367           NaN    19385.0   4746.0      NaN    NaN   2081.0    8624.0
375           NaN    28159.0    449.0      NaN    NaN      NaN   22560.0
381           NaN    41647.0   1123.0      NaN    NaN    778.0   15735.0
423           NaN    52844.0      NaN      NaN    NaN   2889.0   31992.0
439        2605.0   483735.0   7291.0      NaN    NaN  12887.0  203475.0
441           NaN    27229.0   2081.0    718.0    NaN   1827.0   17291.0
451           NaN    25015.0      NaN    748.0    NaN      NaN   17198.0
453           NaN   340433.0   4626.0      NaN    NaN  20359.0   90676.0
479           NaN    42141.0   1183.0      NaN    NaN    778.0   16948.0
485           NaN    40822.0   2919.0   6137.0    NaN   2560.0   25328.0
491           NaN   126360.0      NaN      NaN    NaN   9955.0   40001.0

In [23]:
race_mapper = {1:'White',
2:'Black/African American/Negro',
3:'American Indian or Alaska Native',
4:'Chinese',
5:'Japanese',
6:'Other Asian or Pacific Islander',
7:'Other race, nec',
8:'Two major races',
9:'Three or more major races',}

TX2015['RACE'].map(race_mapper)

COUNTYFIP
113    White
113    White
113    White
113    White
113    White
       ...
215    White
215    White
215    White
215    White
215    White
Name: RACE, Length: 10094949, dtype: object

In [24]:
TXbyRACE = TX2015.reset_index().groupby(['COUNTYFIP', 'RACE']).count().reset_index().pivot(columns='RACE', 
                                                                                         index='COUNTYFIP',
                                                                                        values='YEAR')
TXbyRACE

RACE,1,2,3,4,5,6,7,8,9
COUNTYFIP,,,,,,,,,
000,1604633.0,193598.0,10734.0,4236.0,NaN,8802.0,61665.0,34193.0,2305.0
027,94654.0,20975.0,509.0,NaN,NaN,4835.0,2426.0,2545.0,NaN
029,512474.0,51163.0,1437.0,3518.0,1183.0,16226.0,24595.0,16676.0,NaN
039,97108.0,28174.0,NaN,NaN,NaN,8368.0,2934.0,1931.0,NaN
041,61316.0,9369.0,NaN,2305.0,NaN,554.0,3504.0,4461.0,NaN
061,132603.0,NaN,NaN,NaN,NaN,NaN,7320.0,988.0,NaN
085,237273.0,21945.0,3952.0,8218.0,NaN,29116.0,10074.0,2006.0,NaN
091,51242.0,2201.0,NaN,NaN,NaN,2141.0,1243.0,1692.0,1422.0
113,609354.0,244681.0,6272.0,8308.0,NaN,58968.0,43579.0,14896.0,3369.0
121,235132.0,31184.0,NaN,1377.0,554.0,21392.0,9670.0,5464.0,1213.0
135,56377.0,838.0,NaN,NaN,NaN,2021.0,2171.0,NaN,NaN
139,26555.0,2680.0,NaN,NaN,NaN,1632.0,NaN,1108.0,NaN
141,260024.0,10868.0,3578.0,464.0,NaN,1527.0,23382.0,7618.0,1811.0
157,97063.0,29324.0,NaN,11064.0,1437.0,32471.0,12170.0,748.0,NaN
167,88562.0,24011.0,NaN,NaN,NaN,NaN,4671.0,2305.0,NaN
183,31993.0,22155.0,NaN,NaN,NaN,NaN,NaN,5359.0,NaN
187,39955.0,8653.0,2081.0,NaN,NaN,1003.0,7320.0,1422.0,NaN
201,1053640.0,339105.0,4760.0,20794.0,1722.0,85928.0,91107.0,25119.0,1138.0
209,92023.0,3308.0,NaN,NaN,NaN,NaN,1811.0,60.0,NaN
215,215817.0,2725.0,NaN,NaN,NaN,NaN,9655.0,4086.0,NaN
245,81240.0,45630.0,NaN,NaN,NaN,1392.0,2021.0,NaN,NaN
251,42199.0,1482.0,329.0,NaN,NaN,NaN,823.0,2949.0,NaN
257,37833.0,4911.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,104850.0,7351.0,NaN,734.0,NaN,6662.0,2874.0,NaN,NaN
309,77845.0,17259.0,NaN,NaN,NaN,NaN,1721.0,659.0,NaN
329,44489.0,9401.0,NaN,NaN,NaN,NaN,3189.0,NaN,NaN
339,144312.0,3458.0,823.0,NaN,NaN,2395.0,868.0,1542.0,NaN
355,135357.0,3458.0,6467.0,2141.0,748.0,3399.0,3488.0,NaN,838.0
367,29910.0,NaN,1183.0,NaN,NaN,NaN,3743.0,NaN,NaN
375,47980.0,988.0,NaN,NaN,NaN,943.0,NaN,1257.0,NaN
381,54388.0,2814.0,NaN,NaN,NaN,NaN,1931.0,150.0,NaN
423,76932.0,10793.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,487423.0,127275.0,808.0,NaN,NaN,45089.0,34025.0,15373.0,NaN
441,44355.0,4791.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,37888.0,1317.0,NaN,NaN,NaN,254.0,2754.0,748.0,NaN
453,334984.0,50360.0,12306.0,3398.0,NaN,26707.0,19267.0,8473.0,599.0
479,58999.0,NaN,NaN,NaN,NaN,NaN,2051.0,NaN,NaN
485,63784.0,5150.0,4416.0,2560.0,NaN,NaN,1856.0,NaN,NaN
491,134145.0,15060.0,NaN,6438.0,1437.0,11243.0,3023.0,4970.0,NaN

In [25]:
marital_mapper ={1:'married_spouse_present',
2:'married_spouse_absent',
3:'separated',
4:'divorced',
5:'widowed',
6:'single'}
TX2015['MARST'].map(marital_mapper)

COUNTYFIP
113     widowed
113     widowed
113     widowed
113     widowed
113     widowed
         ...
215    divorced
215    divorced
215    divorced
215    divorced
215    divorced
Name: MARST, Length: 10094949, dtype: object

In [26]:
TX2015['MARST'].value_counts()

1    4815589
6    2203573
4    1640756
5     789427
3     354162
2     291442
Name: MARST, dtype: int64

In [27]:
TXMARST = TX2015.reset_index().groupby(['COUNTYFIP', 'MARST']).count().reset_index().pivot(columns='MARST', 
                                                                                         index='COUNTYFIP',
                                                                                        values='YEAR')
TXMARST

MARST             1        2        3         4         5         6
COUNTYFIP
000        919875.0  70559.0  69643.0  312739.0  201655.0  345695.0
027         64373.0  16033.0   3413.0   17679.0    2275.0   22171.0
029        262643.0  15032.0  16391.0  123468.0   49341.0  160397.0
039         60164.0   5868.0   1018.0   39445.0    7051.0   24969.0
041         19610.0      NaN      NaN   13174.0    9057.0   39668.0
061         87381.0   3593.0   2619.0    9295.0   18801.0   19222.0
085        201990.0   2619.0   8682.0   38412.0   13952.0   46929.0
091         35554.0   1437.0      NaN   13039.0    2036.0    7875.0
113        410208.0  34072.0  53518.0  129412.0   75207.0  287010.0
121        174505.0   3652.0   4865.0   42994.0   30748.0   49222.0
135         27380.0   2260.0   3338.0   13322.0    1093.0   14014.0
139         20328.0   2276.0    898.0    2994.0    2081.0    3398.0
141        146355.0   9461.0   8667.0   56542.0   29431.0   58816.0
157        133382.0    793.0   8803.0   17841.0    2485.0   20973.0
167         40120.0   2695.0   6961.0   28247.0   16392.0   25134.0
183         16931.0    778.0   3758.0   11587.0    5779.0   20674.0
187         27321.0      NaN   1198.0   24235.0    3428.0    4252.0
201        793042.0  39642.0  51469.0  259402.0  103965.0  375793.0
209         46363.0   1078.0      NaN   21003.0   11631.0   17127.0
215        126269.0  14969.0   8323.0   25283.0   13727.0   43712.0
245         60103.0   2066.0   4895.0   16662.0    7530.0   39027.0
251         23638.0   3263.0      NaN    5165.0    8472.0    7244.0
257         19536.0      NaN   1079.0   14088.0     719.0    7322.0
303         49311.0   3668.0   1901.0   10674.0    9939.0   46978.0
309         43924.0      NaN   4206.0   17337.0    7708.0   24309.0
329         21451.0   5015.0    928.0    5060.0   11557.0   13068.0
339         82080.0   2709.0  12470.0   22607.0   20688.0   12844.0
355         70016.0   3204.0  11122.0   33262.0    8772.0   29520.0
367         26107.0      NaN      NaN    3429.0     584.0    4716.0
375         21033.0   3667.0   2560.0   15330.0     404.0    8174.0
381         22336.0   1332.0   3084.0   12350.0    9551.0   10630.0
423         46331.0      NaN      NaN   16423.0   12470.0   12501.0
439        331259.0  17081.0  27245.0  132286.0   39791.0  162331.0
441         13922.0   1422.0    823.0    7230.0    9162.0   16587.0
451         22410.0      NaN      NaN    6915.0    6542.0    7094.0
453        180391.0   7440.0  21018.0   79654.0   15390.0  152201.0
479         33773.0   2710.0   3533.0    7336.0    6437.0    7261.0
485         24834.0   3562.0   2201.0   18936.0    2724.0   25509.0
491        109340.0   7486.0   3533.0   15899.0   10852.0   29206.0

In [28]:
numerics = ['AGE', 'EDUC', 'EDUCD', 'FTOTINC']
categoricals = ['SEX', 'MARST','RACE','RACED', 'EMPSTAT', 'EMPSTATD']
binary = ['HCOVANY','SEX']

In [29]:
#I need to make 2 functions
#one that makes a dataframe by state and year
#one that makes a new dataframe grouped by colums with means of numerical data and dummies of categorical data?

In [30]:
#def YearStateDf(df, year, statefip):
 #   dfstate = df.loc[(df['YEAR'] == year) & (df['STATEFIP'] == statefip)]
    #dfstatewt = dfstate.loc[dfstate.index.repeat(dfstate.HHWT)]
    #dfstatewt.set_index('COUNTYFIP')
    #return dfstatewt

In [31]:
#def Numeric(df):
    #inc = pd.DataFrame(df.groupby('COUNTYFIP')['FTOTINC'].mean().round(decimals=2))
    #df['avg_inc'] = inc['FTOTINC']
    #age = pd.DataFrame(df.groupby('COUNTYFIP')['AGE'].mean()).round(decimals=2))
    #df['avg_age'] = age['AGE']
    #return df