In [86]:
import pandas as pd
import numpy as np
import math

In [87]:
predf = pd.read_csv('../../data/usa_00004.csv.gz')

In [88]:
predf =  predf.loc[predf['PERNUM'] == 1]

In [89]:
predf = predf.drop(['SAMPLE', 'SERIAL', 'CBSERIAL', 'CLUSTER', 'COUNTYICP','STRATA','PERNUM_HEAD', 'GQ', 'RACED', 'PERWT'], axis = 1)

In [90]:
predf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88979 entries, 0 to 210221
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   YEAR       88979 non-null  int64
 1   HHWT       88979 non-null  float64
 2   STATEFIP   88979 non-null  int64
 3   COUNTYFIP  88979 non-null  int64
 4   PERNUM     88979 non-null  int64
 5   SEX        88979 non-null  int64
 6   AGE        88979 non-null  int64
 7   MARST      88979 non-null  int64
 8   RACE       88979 non-null  int64
 9   HCOVANY    88979 non-null  int64
 10  EDUC       88979 non-null  int64
 11  EDUCD      88979 non-null  int64
 12  EMPSTAT    88979 non-null  int64
 13  EMPSTATD   88979 non-null  int64
 14  FTOTINC    88979 non-null  int64
dtypes: float64(1), int64(14)
memory usage: 10.9 MB

In [91]:
predf.HCOVANY.replace({1:0, 2:1}, inplace=True)

In [92]:
predf.SEX.replace({1:0, 2:1}, inplace=True)

In [93]:
predf

,YEAR,HHWT,STATEFIP,COUNTYFIP,PERNUM,SEX,AGE,MARST,RACE,HCOVANY,EDUC,EDUCD,EMPSTAT,EMPSTATD,FTOTINC
0,2015,838.32,6,37,1,1,28,6,1,1,7,71,1,10,40730
2,2015,1092.81,6,73,1,1,78,5,1,1,7,71,1,10,24600
3,2015,913.17,6,85,1,0,24,6,1,0,7,71,1,10,25000
6,2015,868.26,6,1,1,0,30,1,6,1,10,101,1,10,162300
10,2015,1556.88,6,85,1,1,63,4,1,1,6,65,1,10,122000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210213,2019,92.88,48,309,1,0,57,1,1,1,10,101,1,10,119000
210215,2019,1269.36,48,453,1,1,32,1,1,1,6,64,1,10,79000
210219,2019,681.12,48,439,1,1,66,5,1,1,11,114,3,30,77000
210220,2019,1904.04,48,0,1,0,73,5,1,1,7,71,3,30,25300
210221,2019,2956.68,48,29,1,1,54,1,1,1,6,64,1,10,83700

In [94]:
predf['COUNTYFIP'] = predf.COUNTYFIP.astype(str).str.zfill(3)

In [95]:
predf.HHWT = round(predf['HHWT']).astype(int)

In [96]:
df = predf

In [97]:
def YearStateDF(df, year, statefip):
    dfstate = df.loc[(df['YEAR'] == year) & (df['STATEFIP'] == statefip)]
    dfstatewt = dfstate.loc[dfstate.index.repeat(dfstate.HHWT)]
    newdf = dfstatewt.set_index('COUNTYFIP')
    return newdf

In [118]:
def NumericDF(df):
    inc = pd.DataFrame(df.groupby('COUNTYFIP')['FTOTINC'].mean().round(decimals=2))
    df['avg_inc'] = inc['FTOTINC']
    age = pd.DataFrame(df.groupby('COUNTYFIP')['AGE'].mean().round(decimals=2))
    df['avg_age'] = age['AGE']
    educ = pd.DataFrame(df.groupby('COUNTYFIP')['EDUC'].mean().round(decimals=2))
    df['avg_educ'] = educ['EDUC']
    educd = pd.DataFrame(df.groupby('COUNTYFIP')['EDUCD'].mean().round(decimals=2))
    df['avg_educd'] = educd['EDUCD']
    sex = pd.DataFrame(df.groupby('COUNTYFIP')['SEX'].mean().round(decimals=2))
    df['sex'] = sex['SEX']
    insurance = pd.DataFrame(df.groupby('COUNTYFIP')['HCOVANY'].mean().round(decimals=2))
    df['insurance'] = insurance['HCOVANY']
    df = df.drop(['FTOTINC', 'AGE', 'EDUC', 'EDUCD', 'HHWT', 'SEX', 'HCOVANY','PERNUM','MARST','RACE','EMPSTAT','EMPSTATD'], axis = 1)
    df = df.drop_duplicates()
    return df

In [100]:
marst_mapper ={1:'married_spouse_present',
2:'married_spouse_absent',
3:'separated',
4:'divorced',
5:'widowed',
6:'single'}

In [101]:
emp_mapper = {0:'NA',
10:'at_work',
12:'has_job_not_working',
14:'armed_forces_at_work',
15:'armed_forces_not_at_work_but_with_job',
20:'unemployed',
30:'not_in_labor_force'}

In [102]:
race_mapper = {1:'White',
2:'Black/African American/Negro',
3:'American Indian or Alaska Native',
4:'Chinese',
5:'Japanese',
6:'Other Asian or Pacific Islander',
7:'Other race, nec',
8:'Two major races',
9:'Three or more major races',}

In [103]:
emp_list = ['NA','at_work','has_job_not_working','armed_forces_at_work','armed_forces_not_at_work_but_with_job','unemployed','not_in_labor_force']

In [104]:
race_list = ['white',
'black',
'american_indian_or_alaska_native',
'chinese',
'japanese',
'other_asian_or_pacific_islander',
'other_race',
'two_major_races',
'three_or_more_major_races']

In [105]:
marst_list = ['married_spouse_present','married_spouse_absent','separated','divorced','widowed','single']

In [106]:
column_list = ['RACE', 'EMPTSTATD', 'MARST']
dict_list = [race_mapper, emp_mapper, marst_mapper]
list_list = [race_list, emp_list, marst_list]

In [55]:
def catmap(df, column, dict, list):
    df[column].map(dict)
    dfcatmap = df.reset_index().groupby(['COUNTYFIP', column]).count().reset_index().pivot(columns=column, 
                                                                                             index='COUNTYFIP',
                                                                                                values='YEAR')
    dfcatmap.columns = list
    dfcatmap.fillna(0, inplace=True)
    return dfcatmap

In [23]:
#pd.DataFrame(df.groupby(['STATEFIP', 'COUNTYFIP']).count().T.sum()).reset_index().groupby('STATEFIP').sum()

In [108]:
CA2015 = YearStateDF(df, 2015, 6)
CA2015

,YEAR,HHWT,STATEFIP,PERNUM,SEX,AGE,MARST,RACE,HCOVANY,EDUC,EDUCD,EMPSTAT,EMPSTATD,FTOTINC
COUNTYFIP,,,,,,,,,,,,,,
037,2015,838,6,1,1,28,6,1,1,7,71,1,10,40730
037,2015,838,6,1,1,28,6,1,1,7,71,1,10,40730
037,2015,838,6,1,1,28,6,1,1,7,71,1,10,40730
037,2015,838,6,1,1,28,6,1,1,7,71,1,10,40730
037,2015,838,6,1,1,28,6,1,1,7,71,1,10,40730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
037,2015,913,6,1,0,44,1,6,1,11,114,2,20,4500
037,2015,913,6,1,0,44,1,6,1,11,114,2,20,4500
037,2015,913,6,1,0,44,1,6,1,11,114,2,20,4500
037,2015,913,6,1,0,44,1,6,1,11,114,2,20,4500
037,2015,913,6,1,0,44,1,6,1,11,114,2,20,4500

In [112]:
CA2015.SEX.mean()

0.4912906707171701

In [111]:
CA2015.HCOVANY.value_counts()

1    12755327
0     1124100
Name: HCOVANY, dtype: int64

In [119]:
CA2015NUM = NumericDF(CA2015)
CA2015NUM

,YEAR,STATEFIP,avg_inc,avg_age,avg_educ,avg_educd,sex,insurance
COUNTYFIP,,,,,,,,
037,2015,6,527508.44,50.78,7.28,75.04,0.49,0.90
073,2015,6,765623.18,49.56,7.63,78.59,0.49,0.91
085,2015,6,615511.78,49.99,8.28,85.24,0.46,0.96
001,2015,6,500963.46,49.29,8.08,83.08,0.47,0.93
029,2015,6,1244773.84,45.40,5.84,60.66,0.51,0.86
000,2015,6,980584.96,53.42,7.07,72.98,0.49,0.90
077,2015,6,479714.11,49.58,6.96,71.74,0.47,0.93
067,2015,6,543471.23,47.84,7.43,76.39,0.51,0.95
065,2015,6,446909.92,51.03,6.85,70.86,0.51,0.86
013,2015,6,387181.29,54.22,8.12,83.42,0.57,0.96
083,2015,6,1592139.07,51.13,7.79,80.26,0.50,0.87
075,2015,6,792750.86,49.00,8.38,85.97,0.43,0.96
019,2015,6,541479.92,48.67,6.63,68.64,0.49,0.89
071,2015,6,852699.21,50.62,6.67,69.01,0.52,0.91
059,2015,6,504944.71,51.76,7.89,81.27,0.48,0.94
061,2015,6,802722.10,52.88,8.15,83.65,0.44,0.97
097,2015,6,867892.75,53.72,7.34,75.91,0.51,0.94
095,2015,6,713558.99,50.60,7.61,78.30,0.50,0.96
039,2015,6,1296125.61,50.17,6.38,66.08,0.66,0.97
099,2015,6,414824.90,53.92,6.21,64.25,0.43,0.92
031,2015,6,2985023.12,41.98,6.40,66.07,0.32,0.92
089,2015,6,244171.01,48.95,7.61,78.16,0.53,0.92
113,2015,6,900634.37,45.49,7.20,74.42,0.46,0.90
025,2015,6,1933533.92,48.36,5.47,57.02,0.17,0.90
023,2015,6,200743.54,54.83,7.08,72.28,0.64,0.97
111,2015,6,459624.29,56.18,7.66,78.84,0.51,0.95
079,2015,6,1703737.35,51.31,7.46,76.70,0.53,0.89
081,2015,6,349224.09,53.15,8.41,86.62,0.46,0.99
107,2015,6,155312.41,48.49,6.01,62.41,0.49,0.93
007,2015,6,273934.23,54.35,7.78,79.92,0.57,1.00
017,2015,6,497473.59,57.52,7.83,80.49,0.51,0.92
055,2015,6,771503.37,53.68,7.99,82.27,0.56,0.99
087,2015,6,1397506.29,47.60,7.90,80.85,0.53,0.98
041,2015,6,651482.35,57.24,8.84,90.70,0.53,0.94
047,2015,6,1012213.35,42.43,6.21,64.81,0.48,0.84

In [49]:
CA2015cat1 = catmap(CA2015, 'RACE', race_mapper, race_list)

In [58]:
CA2015cat2 = catmap(CA2015, 'MARST', marst_mapper, marst_list)

In [67]:
CA_emp_list = ['NA','at_work','has_job_not_working','armed_forces_at_work','unemployed','not_in_labor_force']

In [68]:
def catmap(df, column, dict, list):
    df[column].map(dict)
    dfcatmap = df.reset_index().groupby(['COUNTYFIP', column]).count().reset_index().pivot(columns=column, 
                                                                                             index='COUNTYFIP',
                                                                                                values='YEAR')
    dfcatmap.columns = list
    dfcatmap.fillna(0, inplace=True)
    return dfcatmap

In [71]:
CA2015cat3 = catmap(CA2015, 'EMPSTATD', emp_mapper, CA_emp_list)
CA2015cat3

,NA,at_work,has_job_not_working,armed_forces_at_work,unemployed,not_in_labor_force
COUNTYFIP,,,,,,
000,180.0,263317.0,7170.0,9295.0,16691.0,269472.0
001,0.0,380739.0,21226.0,913.0,20312.0,175616.0
007,0.0,44701.0,2425.0,0.0,6033.0,48128.0
013,0.0,234025.0,14163.0,0.0,9761.0,125539.0
017,0.0,37994.0,0.0,0.0,2635.0,37500.0
019,0.0,175661.0,5120.0,0.0,12485.0,118771.0
023,0.0,18848.0,1751.0,0.0,958.0,25419.0
025,0.0,30133.0,554.0,0.0,434.0,20134.0
029,0.0,162154.0,3443.0,1093.0,22860.0,124874.0
031,0.0,33532.0,0.0,3563.0,0.0,20074.0
037,1168.0,2231731.0,65418.0,1752.0,94430.0,1128328.0
039,0.0,30405.0,0.0,0.0,6841.0,29341.0
041,0.0,63848.0,0.0,0.0,0.0,48278.0
047,0.0,46333.0,0.0,0.0,1033.0,20930.0
055,105.0,22321.0,1228.0,0.0,2320.0,23159.0
059,884.0,645041.0,15717.0,0.0,23488.0,363377.0
061,0.0,77783.0,1347.0,1317.0,12455.0,52110.0
065,0.0,417076.0,8322.0,1497.0,25809.0,274777.0
067,0.0,327957.0,8997.0,0.0,14296.0,182755.0
071,150.0,407959.0,7261.0,16333.0,22320.0,290478.0
073,60.0,715534.0,10000.0,49147.0,34418.0,376396.0
075,0.0,239929.0,3818.0,0.0,7381.0,109416.0
077,30.0,123937.0,9341.0,2260.0,12875.0,74622.0
079,0.0,55675.0,0.0,0.0,5344.0,51286.0
081,0.0,176184.0,4281.0,0.0,3068.0,76211.0
083,0.0,77697.0,1093.0,1063.0,7366.0,65747.0
085,764.0,453654.0,13219.0,0.0,19641.0,261507.0
087,0.0,81526.0,1048.0,0.0,5329.0,38983.0
089,0.0,50014.0,0.0,0.0,5389.0,32034.0
095,0.0,96870.0,1991.0,3053.0,5943.0,56963.0
097,0.0,112436.0,9446.0,1557.0,3219.0,77260.0
099,0.0,91647.0,0.0,0.0,6766.0,85970.0
107,0.0,89703.0,1123.0,0.0,10193.0,66853.0
111,0.0,147231.0,6032.0,4641.0,13906.0,97335.0
113,0.0,59535.0,0.0,1332.0,3667.0,39297.0

In [121]:
CA2015CONCAT = pd.concat([CA2015NUM, CA2015cat1, CA2015cat2, CA2015cat3], axis=1)
CA2015CONCAT

,YEAR,STATEFIP,avg_inc,avg_age,avg_educ,avg_educd,sex,insurance,white,black,...,separated,divorced,widowed,single,NA,at_work,has_job_not_working,armed_forces_at_work,unemployed,not_in_labor_force
037,2015,6,527508.44,50.78,7.28,75.04,0.49,0.90,1927771.0,377965.0,...,156807.0,427986.0,281459.0,1091137.0,1168.0,2231731.0,65418.0,1752.0,94430.0,1128328.0
073,2015,6,765623.18,49.56,7.63,78.59,0.49,0.91,908667.0,65988.0,...,20434.0,230323.0,91125.0,318545.0,60.0,715534.0,10000.0,49147.0,34418.0,376396.0
085,2015,6,615511.78,49.99,8.28,85.24,0.46,0.96,356897.0,26871.0,...,23578.0,78472.0,51407.0,184357.0,764.0,453654.0,13219.0,0.0,19641.0,261507.0
001,2015,6,500963.46,49.29,8.08,83.08,0.47,0.93,288719.0,91350.0,...,15777.0,79355.0,35150.0,151388.0,0.0,380739.0,21226.0,913.0,20312.0,175616.0
029,2015,6,1244773.84,45.40,5.84,60.66,0.51,0.86,225788.0,27155.0,...,12243.0,44160.0,18081.0,83158.0,0.0,162154.0,3443.0,1093.0,22860.0,124874.0
000,2015,6,980584.96,53.42,7.07,72.98,0.49,0.90,456023.0,21810.0,...,6647.0,99534.0,63950.0,102472.0,180.0,263317.0,7170.0,9295.0,16691.0,269472.0
077,2015,6,479714.11,49.58,6.96,71.74,0.47,0.93,146226.0,6692.0,...,4416.0,35913.0,17513.0,44940.0,30.0,123937.0,9341.0,2260.0,12875.0,74622.0
067,2015,6,543471.23,47.84,7.43,76.39,0.51,0.95,330111.0,56122.0,...,10509.0,75658.0,29027.0,149910.0,0.0,327957.0,8997.0,0.0,14296.0,182755.0
065,2015,6,446909.92,51.03,6.85,70.86,0.51,0.86,513175.0,46464.0,...,33099.0,108050.0,69613.0,101500.0,0.0,417076.0,8322.0,1497.0,25809.0,274777.0
013,2015,6,387181.29,54.22,8.12,83.42,0.57,0.96,242630.0,42157.0,...,7216.0,62095.0,28563.0,63937.0,0.0,234025.0,14163.0,0.0,9761.0,125539.0
083,2015,6,1592139.07,51.13,7.79,80.26,0.50,0.87,125539.0,1856.0,...,1557.0,29536.0,14775.0,47039.0,0.0,77697.0,1093.0,1063.0,7366.0,65747.0
075,2015,6,792750.86,49.00,8.38,85.97,0.43,0.96,191994.0,13534.0,...,180.0,34925.0,20464.0,154872.0,0.0,239929.0,3818.0,0.0,7381.0,109416.0
019,2015,6,541479.92,48.67,6.63,68.64,0.49,0.89,214836.0,19102.0,...,21005.0,50242.0,22364.0,74462.0,0.0,175661.0,5120.0,0.0,12485.0,118771.0
071,2015,6,852699.21,50.62,6.67,69.01,0.52,0.91,469215.0,104118.0,...,44520.0,132903.0,51737.0,164988.0,150.0,407959.0,7261.0,16333.0,22320.0,290478.0
059,2015,6,504944.71,51.76,7.89,81.27,0.48,0.94,710291.0,16392.0,...,16017.0,136181.0,79668.0,221451.0,884.0,645041.0,15717.0,0.0,23488.0,363377.0
061,2015,6,802722.10,52.88,8.15,83.65,0.44,0.97,113261.0,1302.0,...,4356.0,21647.0,9236.0,23457.0,0.0,77783.0,1347.0,1317.0,12455.0,52110.0
097,2015,6,867892.75,53.72,7.34,75.91,0.51,0.94,171327.0,2381.0,...,7200.0,31572.0,17156.0,50479.0,0.0,112436.0,9446.0,1557.0,3219.0,77260.0
095,2015,6,713558.99,50.60,7.61,78.30,0.50,0.96,84939.0,43053.0,...,5598.0,29311.0,11407.0,48982.0,0.0,96870.0,1991.0,3053.0,5943.0,56963.0
039,2015,6,1296125.61,50.17,6.38,66.08,0.66,0.97,48773.0,12650.0,...,2335.0,12919.0,0.0,8907.0,0.0,30405.0,0.0,0.0,6841.0,29341.0
099,2015,6,414824.90,53.92,6.21,64.25,0.43,0.92,138682.0,11840.0,...,7305.0,38608.0,20913.0,35822.0,0.0,91647.0,0.0,0.0,6766.0,85970.0
031,2015,6,2985023.12,41.98,6.40,66.07,0.32,0.92,34715.0,8069.0,...,0.0,5539.0,793.0,25328.0,0.0,33532.0,0.0,3563.0,0.0,20074.0
089,2015,6,244171.01,48.95,7.61,78.16,0.53,0.92,73230.0,0.0,...,3144.0,24672.0,1841.0,16494.0,0.0,50014.0,0.0,0.0,5389.0,32034.0
113,2015,6,900634.37,45.49,7.20,74.42,0.46,0.90,79190.0,928.0,...,988.0,14671.0,8427.0,41409.0,0.0,59535.0,0.0,1332.0,3667.0,39297.0
025,2015,6,1933533.92,48.36,5.47,57.02,0.17,0.90,29684.0,6856.0,...,524.0,1452.0,0.0,11241.0,0.0,30133.0,554.0,0.0,434.0,20134.0
023,2015,6,200743.54,54.83,7.08,72.28,0.64,0.97,37889.0,4910.0,...,0.0,6810.0,12350.0,9372.0,0.0,18848.0,1751.0,0.0,958.0,25419.0
111,2015,6,459624.29,56.18,7.66,78.84,0.51,0.95,212481.0,12874.0,...,7275.0,33831.0,37949.0,25345.0,0.0,147231.0,6032.0,4641.0,13906.0,97335.0
079,2015,6,1703737.35,51.31,7.46,76.70,0.53,0.89,99086.0,3923.0,...,1826.0,14955.0,9924.0,30031.0,0.0,55675.0,0.0,0.0,5344.0,51286.0
081,2015,6,349224.09,53.15,8.41,86.62,0.46,0.99,139582.0,13054.0,...,6227.0,47499.0,15480.0,54251.0,0.0,176184.0,4281.0,0.0,3068.0,76211.0
107,2015,6,155312.41,48.49,6.01,62.41,0.49,0.93,127482.0,5045.0,...,9789.0,10418.0,29805.0,32817.0,0.0,89703.0,1123.0,0.0,10193.0,66853.0
007,2015,6,273934.23,54.35,7.78,79.92,0.57,1.00,88981.0,0.0,...,6287.0,18203.0,5150.0,18534.0,0.0,44701.0,2425.0,0.0,6033.0,48128.0
017,2015,6,497473.59,57.52,7.83,80.49,0.51,0.92,72650.0,105.0,...,1602.0,9521.0,5853.0,12290.0,0.0,37994.0,0.0,0.0,2635.0,37500.0
055,2015,6,771503.37,53.68,7.99,82.27,0.56,0.99,36617.0,1168.0,...,0.0,9027.0,8938.0,9432.0,105.0,22321.0,1228.0,0.0,2320.0,23159.0
087,2015,6,1397506.29,47.60,7.90,80.85,0.53,0.98,111736.0,2934.0,...,6782.0,16152.0,14251.0,35090.0,0.0,81526.0,1048.0,0.0,5329.0,38983.0
041,2015,6,651482.35,57.24,8.84,90.70,0.53,0.94,97200.0,314.0,...,2126.0,20808.0,10718.0,18294.0,0.0,63848.0,0.0,0.0,0.0,48278.0
047,2015,6,1012213.35,42.43,6.21,64.81,0.48,0.84,41588.0,4850.0,...,0.0,2125.0,1856.0,23833.0,0.0,46333.0,0.0,0.0,1033.0,20930.0

In [134]:
#CA2015CONCAT['FIP'] = list(zip(CA2015CONCAT['STATEFIP'], CA2015CONCAT.index ))

CA2015CONCAT['FIP'] = CA2015CONCAT['STATEFIP'].astype(str) + CA2015CONCAT.index.astype(str)

In [135]:
CA2015CONCAT

,YEAR,STATEFIP,avg_inc,avg_age,avg_educ,avg_educd,sex,insurance,white,black,...,divorced,widowed,single,NA,at_work,has_job_not_working,armed_forces_at_work,unemployed,not_in_labor_force,FIP
037,2015,6,527508.44,50.78,7.28,75.04,0.49,0.90,1927771.0,377965.0,...,427986.0,281459.0,1091137.0,1168.0,2231731.0,65418.0,1752.0,94430.0,1128328.0,6037
073,2015,6,765623.18,49.56,7.63,78.59,0.49,0.91,908667.0,65988.0,...,230323.0,91125.0,318545.0,60.0,715534.0,10000.0,49147.0,34418.0,376396.0,6073
085,2015,6,615511.78,49.99,8.28,85.24,0.46,0.96,356897.0,26871.0,...,78472.0,51407.0,184357.0,764.0,453654.0,13219.0,0.0,19641.0,261507.0,6085
001,2015,6,500963.46,49.29,8.08,83.08,0.47,0.93,288719.0,91350.0,...,79355.0,35150.0,151388.0,0.0,380739.0,21226.0,913.0,20312.0,175616.0,6001
029,2015,6,1244773.84,45.40,5.84,60.66,0.51,0.86,225788.0,27155.0,...,44160.0,18081.0,83158.0,0.0,162154.0,3443.0,1093.0,22860.0,124874.0,6029
000,2015,6,980584.96,53.42,7.07,72.98,0.49,0.90,456023.0,21810.0,...,99534.0,63950.0,102472.0,180.0,263317.0,7170.0,9295.0,16691.0,269472.0,6000
077,2015,6,479714.11,49.58,6.96,71.74,0.47,0.93,146226.0,6692.0,...,35913.0,17513.0,44940.0,30.0,123937.0,9341.0,2260.0,12875.0,74622.0,6077
067,2015,6,543471.23,47.84,7.43,76.39,0.51,0.95,330111.0,56122.0,...,75658.0,29027.0,149910.0,0.0,327957.0,8997.0,0.0,14296.0,182755.0,6067
065,2015,6,446909.92,51.03,6.85,70.86,0.51,0.86,513175.0,46464.0,...,108050.0,69613.0,101500.0,0.0,417076.0,8322.0,1497.0,25809.0,274777.0,6065
013,2015,6,387181.29,54.22,8.12,83.42,0.57,0.96,242630.0,42157.0,...,62095.0,28563.0,63937.0,0.0,234025.0,14163.0,0.0,9761.0,125539.0,6013
083,2015,6,1592139.07,51.13,7.79,80.26,0.50,0.87,125539.0,1856.0,...,29536.0,14775.0,47039.0,0.0,77697.0,1093.0,1063.0,7366.0,65747.0,6083
075,2015,6,792750.86,49.00,8.38,85.97,0.43,0.96,191994.0,13534.0,...,34925.0,20464.0,154872.0,0.0,239929.0,3818.0,0.0,7381.0,109416.0,6075
019,2015,6,541479.92,48.67,6.63,68.64,0.49,0.89,214836.0,19102.0,...,50242.0,22364.0,74462.0,0.0,175661.0,5120.0,0.0,12485.0,118771.0,6019
071,2015,6,852699.21,50.62,6.67,69.01,0.52,0.91,469215.0,104118.0,...,132903.0,51737.0,164988.0,150.0,407959.0,7261.0,16333.0,22320.0,290478.0,6071
059,2015,6,504944.71,51.76,7.89,81.27,0.48,0.94,710291.0,16392.0,...,136181.0,79668.0,221451.0,884.0,645041.0,15717.0,0.0,23488.0,363377.0,6059
061,2015,6,802722.10,52.88,8.15,83.65,0.44,0.97,113261.0,1302.0,...,21647.0,9236.0,23457.0,0.0,77783.0,1347.0,1317.0,12455.0,52110.0,6061
097,2015,6,867892.75,53.72,7.34,75.91,0.51,0.94,171327.0,2381.0,...,31572.0,17156.0,50479.0,0.0,112436.0,9446.0,1557.0,3219.0,77260.0,6097
095,2015,6,713558.99,50.60,7.61,78.30,0.50,0.96,84939.0,43053.0,...,29311.0,11407.0,48982.0,0.0,96870.0,1991.0,3053.0,5943.0,56963.0,6095
039,2015,6,1296125.61,50.17,6.38,66.08,0.66,0.97,48773.0,12650.0,...,12919.0,0.0,8907.0,0.0,30405.0,0.0,0.0,6841.0,29341.0,6039
099,2015,6,414824.90,53.92,6.21,64.25,0.43,0.92,138682.0,11840.0,...,38608.0,20913.0,35822.0,0.0,91647.0,0.0,0.0,6766.0,85970.0,6099
031,2015,6,2985023.12,41.98,6.40,66.07,0.32,0.92,34715.0,8069.0,...,5539.0,793.0,25328.0,0.0,33532.0,0.0,3563.0,0.0,20074.0,6031
089,2015,6,244171.01,48.95,7.61,78.16,0.53,0.92,73230.0,0.0,...,24672.0,1841.0,16494.0,0.0,50014.0,0.0,0.0,5389.0,32034.0,6089
113,2015,6,900634.37,45.49,7.20,74.42,0.46,0.90,79190.0,928.0,...,14671.0,8427.0,41409.0,0.0,59535.0,0.0,1332.0,3667.0,39297.0,6113
025,2015,6,1933533.92,48.36,5.47,57.02,0.17,0.90,29684.0,6856.0,...,1452.0,0.0,11241.0,0.0,30133.0,554.0,0.0,434.0,20134.0,6025
023,2015,6,200743.54,54.83,7.08,72.28,0.64,0.97,37889.0,4910.0,...,6810.0,12350.0,9372.0,0.0,18848.0,1751.0,0.0,958.0,25419.0,6023
111,2015,6,459624.29,56.18,7.66,78.84,0.51,0.95,212481.0,12874.0,...,33831.0,37949.0,25345.0,0.0,147231.0,6032.0,4641.0,13906.0,97335.0,6111
079,2015,6,1703737.35,51.31,7.46,76.70,0.53,0.89,99086.0,3923.0,...,14955.0,9924.0,30031.0,0.0,55675.0,0.0,0.0,5344.0,51286.0,6079
081,2015,6,349224.09,53.15,8.41,86.62,0.46,0.99,139582.0,13054.0,...,47499.0,15480.0,54251.0,0.0,176184.0,4281.0,0.0,3068.0,76211.0,6081
107,2015,6,155312.41,48.49,6.01,62.41,0.49,0.93,127482.0,5045.0,...,10418.0,29805.0,32817.0,0.0,89703.0,1123.0,0.0,10193.0,66853.0,6107
007,2015,6,273934.23,54.35,7.78,79.92,0.57,1.00,88981.0,0.0,...,18203.0,5150.0,18534.0,0.0,44701.0,2425.0,0.0,6033.0,48128.0,6007
017,2015,6,497473.59,57.52,7.83,80.49,0.51,0.92,72650.0,105.0,...,9521.0,5853.0,12290.0,0.0,37994.0,0.0,0.0,2635.0,37500.0,6017
055,2015,6,771503.37,53.68,7.99,82.27,0.56,0.99,36617.0,1168.0,...,9027.0,8938.0,9432.0,105.0,22321.0,1228.0,0.0,2320.0,23159.0,6055
087,2015,6,1397506.29,47.60,7.90,80.85,0.53,0.98,111736.0,2934.0,...,16152.0,14251.0,35090.0,0.0,81526.0,1048.0,0.0,5329.0,38983.0,6087
041,2015,6,651482.35,57.24,8.84,90.70,0.53,0.94,97200.0,314.0,...,20808.0,10718.0,18294.0,0.0,63848.0,0.0,0.0,0.0,48278.0,6041
047,2015,6,1012213.35,42.43,6.21,64.81,0.48,0.84,41588.0,4850.0,...,2125.0,1856.0,23833.0,0.0,46333.0,0.0,0.0,1033.0,20930.0,6047

In [141]:
CA2015CONCAT.to_csv('2015_California_Census_Data.csv')

In [128]:
CA2015CONCAT['FIP'].astype(str)

037    (6, '037')
073    (6, '073')
085    (6, '085')
001    (6, '001')
029    (6, '029')
000    (6, '000')
077    (6, '077')
067    (6, '067')
065    (6, '065')
013    (6, '013')
083    (6, '083')
075    (6, '075')
019    (6, '019')
071    (6, '071')
059    (6, '059')
061    (6, '061')
097    (6, '097')
095    (6, '095')
039    (6, '039')
099    (6, '099')
031    (6, '031')
089    (6, '089')
113    (6, '113')
025    (6, '025')
023    (6, '023')
111    (6, '111')
079    (6, '079')
081    (6, '081')
107    (6, '107')
007    (6, '007')
017    (6, '017')
055    (6, '055')
087    (6, '087')
041    (6, '041')
047    (6, '047')
Name: FIP, dtype: object

In [123]:
CA2015CONCAT.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 037 to 047
Data columns (total 29 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   YEAR                              35 non-null     int64
 1   STATEFIP                          35 non-null     int64
 2   avg_inc                           35 non-null     float64
 3   avg_age                           35 non-null     float64
 4   avg_educ                          35 non-null     float64
 5   avg_educd                         35 non-null     float64
 6   sex                               35 non-null     float64
 7   insurance                         35 non-null     float64
 8   white                             35 non-null     float64
 9   black                             35 non-null     float64
 10  american_indian_or_alaska_native  35 non-null     float64
 11  chinese                           35 non-null     float64
 12  japanese                          35 non-null     float64
 13  other_asian_or_pacific_islander   35 non-null     float64
 14  other_race                        35 non-null     float64
 15  two_major_races                   35 non-null     float64
 16  three_or_more_major_races         35 non-null     float64
 17  married_spouse_present            35 non-null     float64
 18  married_spouse_absent             35 non-null     float64
 19  separated                         35 non-null     float64
 20  divorced                          35 non-null     float64
 21  widowed                           35 non-null     float64
 22  single                            35 non-null     float64
 23  NA                                35 non-null     float64
 24  at_work                           35 non-null     float64
 25  has_job_not_working               35 non-null     float64
 26  armed_forces_at_work              35 non-null     float64
 27  unemployed                        35 non-null     float64
 28  not_in_labor_force                35 non-null     float64
dtypes: float64(27), int64(2)
memory usage: 8.2+ KB

In [ ]:
df.STATEFIP.unique()

In [ ]:
#df.STATEFIP.value_counts()

In [ ]:
TX2015 = YearStateDF(df, 2015, 48)
TX2015

In [ ]:
#TX2015 = YearStateDf(df, 2015, 48)
#TX2015

In [ ]:
TX2015 = NumericDF(TX2015)
TX2015

In [ ]:
TX2015['RACE'].value_counts()

In [ ]:
predf.EMPSTATD.value_counts()

In [ ]:
emp_mapper = {0:'NA',
10:'at_work',
12:'has_job_not_working',
14:'armed_forces_at_work',
15:'armed_forces_not_at_work_but_with_job',
20:'unemployed',
30:'not_in_labor_force'}

In [ ]:
emp_list = ['NA','at_work','has_job_not_working','armed_forces_at_work','armed_forces_not_at_work_but_with_job','unemployed','not_in_labor_force']

In [ ]:
#def catmap(df, column, dict):
   # df[column].map(dict)
   # dfcatmap = df.reset_index().groupby(['COUNTYFIP', column]).count().reset_index().pivot(columns=column, 
                                                                                            #index='COUNTYFIP',
                                                                                            #values='YEAR')
   # return dfcatmap

In [57]:
txempstatd = catmap(TX2015, 'EMPSTATD', emp_mapper, emp_list)
txempstatd

NameError: name 'TX2015' is not defined

In [ ]:
race_mapper = {1:'White',
2:'Black/African American/Negro',
3:'American Indian or Alaska Native',
4:'Chinese',
5:'Japanese',
6:'Other Asian or Pacific Islander',
7:'Other race, nec',
8:'Two major races',
9:'Three or more major races',}

TX2015['RACE'].map(race_mapper)

In [ ]:
race_list = ['white',
'black',
'american_indian_or_alaska_native',
'chinese',
'japanese',
'other_asian_or_pacific_islander',
'other_race',
'two_major_races',
'three_or_more_major_races']

In [ ]:
txrace= catmap(TX2015, 'RACE', race_mapper, race_list)
txrace

In [ ]:
#TXbyRACE = TX2015.reset_index().groupby(['COUNTYFIP', 'RACE']).count().reset_index().pivot(columns='RACE', 
                                                                                       #  index='COUNTYFIP',
                                                                                       # values='YEAR')
#TXbyRACE

In [ ]:
marst_list = ['married_spouse_present','married_spouse_absent','separated','divorced','widowed','single']

In [ ]:
marst_mapper ={1:'married_spouse_present',
2:'married_spouse_absent',
3:'separated',
4:'divorced',
5:'widowed',
6:'single'}
TX2015['MARST'].map(marital_mapper)

In [ ]:
TX2015['MARST'].value_counts()

In [ ]:
TXMARST = TX2015.reset_index().groupby(['COUNTYFIP', 'MARST']).count().reset_index().pivot(columns='MARST', 
                                                                                         index='COUNTYFIP',
                                                                                        values='YEAR')
TXMARST

In [ ]:
numerics = ['AGE', 'EDUC', 'EDUCD', 'FTOTINC']
categoricals = ['SEX', 'MARST','RACE','EMPSTAT', 'EMPSTATD']
binary = ['HCOVANY','SEX']

In [ ]:
#I need to make 2 functions
#one that makes a dataframe by state and year
#one that makes a new dataframe grouped by colums with means of numerical data and dummies of categorical data?

In [ ]:
#def YearStateDf(df, year, statefip):
 #   dfstate = df.loc[(df['YEAR'] == year) & (df['STATEFIP'] == statefip)]
    #dfstatewt = dfstate.loc[dfstate.index.repeat(dfstate.HHWT)]
    #dfstatewt.set_index('COUNTYFIP')
    #return dfstatewt

In [ ]:
#def Numeric(df):
    #inc = pd.DataFrame(df.groupby('COUNTYFIP')['FTOTINC'].mean().round(decimals=2))
    #df['avg_inc'] = inc['FTOTINC']
    #age = pd.DataFrame(df.groupby('COUNTYFIP')['AGE'].mean()).round(decimals=2))
    #df['avg_age'] = age['AGE']
    #return df