In [1]:
original_columns = {"C24050_002E": "Total Agriculture, forestry, fishing and hunting, and mining", 
    "C24050_003E": "Total Construction", 
    "C24050_004E": "Total Manufacturing", 
    "C24050_005E": "Total Wholesale trade", 
    "C24050_006E": "Total Retail trade", 
    "C24050_007E": "Total Transportation and warehousing, and utilities", 
    "C24050_008E": "Total Information", 
    "C24050_009E": "Total Finance and insurance, and real estate, and rental and leasing", 
    "C24050_010E": "Total Professional, scientific, and management, and administrative, and waste management services", 
    "C24050_011E": "Total Educational services, and health care and social assistance", 
    "C24050_012E": "Total Arts, entertainment, and recreation, and accommodation and food services", 
    "C24050_013E": "Total Other services, except public administration", 
    "C24050_014E": "Total Public administration", 
    "C24050_015E": "Total Management, business, science, and arts occupations", 
    "C24050_029E": "Total Service occupations", 
    "C24050_043E": "Total Sales and office occupations", 
    "C24050_057E": "Total Natural resources, construction, and maintenance occupations", 
    "C24050_071E": "Total Production, transportation, and material moving occupations", 
    "C02003_002E": "Population of one race Total",
    "C02003_003E": "Population of one race White", 
    "C02003_004E": "Population of one race Black or African American", 
    "C02003_005E": "Population of one race American Indian and Alaska Native", 
    "C02003_006E": "Population of one race Asian alone", 
    "C02003_007E": "Population of one race Native Hawaiian and Other Pacific Islander",
    "C02003_008E": "Population of one race Some other race", 
    "B01002_001E": "Median age: Total", 
    "B15003_001E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER: TOTAL", 
    "B15003_002E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER No schooling completed",
    "B15003_003E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER Nursery school",
    "B15003_004E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER Kindergarten",
    "B15003_005E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 1st grade",
     "B15003_006E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 2nd grade",
     "B15003_007E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 3rd grade",
     "B15003_008E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 4th grade",
     "B15003_009E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 5th grade",
     "B15003_010E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 6th grade",
     "B15003_011E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 7th grade",
     "B15003_012E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 8th grade",
     "B15003_013E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 9th grade",
     "B15003_014E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 10th grade",
     "B15003_015E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 11th grade",
     "B15003_016E": "EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER 12th grade, no diploma",
    "B19326_001E": "Median income in the past 12 months (in prior year inflation-adjusted dollars)!!Total (dollars)", 
 "B23025_005E": "UNEMPLOYED STATUS FOR THE POPULATION 16 YEARS AND OVER",
 "B23025_003E":  "In labor force: Civilian labor force",
 "B27010_017E": "Under 19 years:!!No health insurance coverage",
 "B27010_033E": "19 to 34 years:!!No health insurance coverage",
 "B27010_050E": "35 to 64 years:!!No health insurance coverage",
 "B27010_001E": "health insurance: total",
 "B27010_066E": "65 years and over:!!No health insurance coverage",
    "B01003_001E": "TOTAL POPULATION Estimate!!Total"}

In [2]:
import pandas as pd

In [3]:
df2015 = pd.read_csv('../../data/county_data_2015.csv')

In [4]:
df2015.head()

,Unnamed: 0,C24050_002E,C24050_003E,C24050_004E,C24050_005E,C24050_006E,C24050_007E,C24050_008E,C24050_009E,C24050_010E,...,B23025_005E,B23025_003E,B27010_017E,B27010_033E,B27010_050E,B27010_001E,B27010_066E,B01003_001E,state_fip,county_fip
0,"Alameda County, California: Summary level: 050...",3308,39861,80961,20969,75187,39042,24187,47611,133336,...,70100,848232,13753,68307,73763,1573351,2911,1584983,6,1
1,"Alpine County, California: Summary level: 050,...",0,24,15,0,49,38,6,6,73,...,49,457,19,84,116,1131,0,1131,6,3
2,"Amador County, California: Summary level: 050,...",195,820,568,165,1884,525,188,523,1158,...,2048,14621,259,603,1829,32880,0,36995,6,5
3,"Butte County, California: Summary level: 050, ...",3249,4682,5355,1625,12125,2596,1620,4508,8744,...,12264,101675,3841,13194,12052,220313,177,222564,6,7
4,"Calaveras County, California: Summary level: 0...",496,1662,1326,373,1819,922,201,661,1713,...,2227,18475,419,1725,2344,44382,10,44767,6,9

In [5]:
dict = {"C24050_002E": "Total Agriculture", 
    "C24050_003E": "Total Construction", 
    "C24050_004E": "Total Manufacturing", 
    "C24050_005E": "Total Wholesale trade", 
    "C24050_006E": "Total Retail trade", 
    "C24050_007E": "Transportation warehousing utilities", 
    "C24050_008E": "Total Information", 
    "C24050_009E": "Total Finance and real estate", 
    "C24050_010E": "Total scientific administrative and waste management services", 
    "C24050_011E": "Total Educational healthcare and social assistance", 
    "C24050_012E": "Total Arts and entertainment", 
    "C24050_013E": "Total Other services", 
    "C24050_014E": "Total Public administration", 
    "C24050_015E": "Total Management business science and arts occupations", 
    "C24050_029E": "Total Service occupations", 
    "C24050_043E": "Total Sales and office occupations", 
    "C24050_057E": "Total Natural resources and maintenance occupations", 
    "C24050_071E": "Total Production, transportation, and material moving occupations", 
    "C02003_002E": "Population of one race Total",
    "C02003_003E": "White", 
    "C02003_004E": "Black or African American", 
    "C02003_005E": "American Indian and Alaska Native", 
    "C02003_006E": "Asian alone", 
    "C02003_007E": "Native Hawaiian and Other Pacific Islander",
    "C02003_008E": "Population of one race Some other race", 
    "B01002_001E": "Median age: Total", 
    "B15003_001E": "ED TOTAL", 
    "B15003_002E": "ED No schooling completed",
    "B15003_003E": "ED Nursery school",
    "B15003_004E": "ED Kindergarten",
    "B15003_005E": "ED 1st grade",
     "B15003_006E": "ED 2nd grade",
     "B15003_007E": "ED 3rd grade",
     "B15003_008E": "ED 4th grade",
     "B15003_009E": "ED 5th grade",
     "B15003_010E": "ED 6th grade",
     "B15003_011E": "ED 7th grade",
     "B15003_012E": "ED 8th grade",
     "B15003_013E": "ED 9th grade",
     "B15003_014E": "E 10th grade",
     "B15003_015E": "ED 11th grade",
     "B15003_016E": "ED 12th grade no diploma",
    "B19326_001E": "Median income", 
 "B23025_005E": "UNEMPLOYED POP 16 YEARS AND OVER",
 "B23025_003E":  "In civilian labor force",
 "B27010_017E": "Under 19 No health insurance coverage",
 "B27010_033E": "19 to 34 years No health insurance coverage",
 "B27010_050E": "35 to 64 years No health insurance coverage",
 "B27010_001E": "health insurance total",
 "B27010_066E": "65 years and over No health insurance coverage",
    "B01003_001E": "TOTAL POPULATION Estimate"}

In [6]:
df2015.rename(columns=dict,
          inplace=True)

In [7]:
df2015

,Unnamed: 0,Total Agriculture,Total Construction,Total Manufacturing,Total Wholesale trade,Total Retail trade,Transportation warehousing utilities,Total Information,Total Finance and real estate,Total scientific administrative and waste management services,...,UNEMPLOYED POP 16 YEARS AND OVER,In civilian labor force,Under 19 No health insurance coverage,19 to 34 years No health insurance coverage,35 to 64 years No health insurance coverage,health insurance total,65 years and over No health insurance coverage,TOTAL POPULATION Estimate,state_fip,county_fip
0,"Alameda County, California: Summary level: 050...",3308,39861,80961,20969,75187,39042,24187,47611,133336,...,70100,848232,13753,68307,73763,1573351,2911,1584983,6,1
1,"Alpine County, California: Summary level: 050,...",0,24,15,0,49,38,6,6,73,...,49,457,19,84,116,1131,0,1131,6,3
2,"Amador County, California: Summary level: 050,...",195,820,568,165,1884,525,188,523,1158,...,2048,14621,259,603,1829,32880,0,36995,6,5
3,"Butte County, California: Summary level: 050, ...",3249,4682,5355,1625,12125,2596,1620,4508,8744,...,12264,101675,3841,13194,12052,220313,177,222564,6,7
4,"Calaveras County, California: Summary level: 0...",496,1662,1326,373,1819,922,201,661,1713,...,2227,18475,419,1725,2344,44382,10,44767,6,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,"Wood County, Texas: Summary level: 050, state:...",707,1266,1402,413,2220,980,351,947,1055,...,1547,17415,952,2720,3820,41903,144,42712,48,499
561,"Yoakum County, Texas: Summary level: 050, stat...",1190,205,64,97,283,338,59,57,165,...,311,3857,609,747,658,8202,0,8213,48,501
562,"Young County, Texas: Summary level: 050, state...",1226,853,705,128,905,352,75,386,390,...,496,8784,1005,1294,1775,18056,8,18329,48,503
563,"Zapata County, Texas: Summary level: 050, stat...",1006,463,97,0,433,353,90,193,140,...,721,5905,615,2263,1866,14274,29,14308,48,505
564,"Zavala County, Texas: Summary level: 050, stat...",512,263,167,31,145,179,54,143,263,...,593,4869,319,1157,1241,11806,9,12060,48,507

In [8]:
df2015.columns = df2015.columns.str.lower()
df2015.columns = df2015.columns.str.replace(' ', "_")
df2015.head()

,unnamed:_0,total_agriculture,total_construction,total_manufacturing,total_wholesale_trade,total_retail_trade,transportation_warehousing_utilities,total_information,total_finance_and_real_estate,total_scientific_administrative_and_waste_management_services,...,unemployed_pop_16_years_and_over,in_civilian_labor_force,under_19_no_health_insurance_coverage,19_to_34_years_no_health_insurance_coverage,35_to_64_years_no_health_insurance_coverage,health_insurance_total,65_years_and_over_no_health_insurance_coverage,total_population_estimate,state_fip,county_fip
0,"Alameda County, California: Summary level: 050...",3308,39861,80961,20969,75187,39042,24187,47611,133336,...,70100,848232,13753,68307,73763,1573351,2911,1584983,6,1
1,"Alpine County, California: Summary level: 050,...",0,24,15,0,49,38,6,6,73,...,49,457,19,84,116,1131,0,1131,6,3
2,"Amador County, California: Summary level: 050,...",195,820,568,165,1884,525,188,523,1158,...,2048,14621,259,603,1829,32880,0,36995,6,5
3,"Butte County, California: Summary level: 050, ...",3249,4682,5355,1625,12125,2596,1620,4508,8744,...,12264,101675,3841,13194,12052,220313,177,222564,6,7
4,"Calaveras County, California: Summary level: 0...",496,1662,1326,373,1819,922,201,661,1713,...,2227,18475,419,1725,2344,44382,10,44767,6,9

In [9]:
df2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 54 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   unnamed:_0                                                         565 non-null    object
 1   total_agriculture                                                  565 non-null    int64
 2   total_construction                                                 565 non-null    int64
 3   total_manufacturing                                                565 non-null    int64
 4   total_wholesale_trade                                              565 non-null    int64
 5   total_retail_trade                                                 565 non-null    int64
 6   transportation_warehousing_utilities                               565 non-null    int64
 7   total_information                                                  565 non-null    int64
 8   total_finance_and_real_estate                                      565 non-null    int64
 9   total_scientific_administrative_and_waste_management_services      565 non-null    int64
 10  total_educational_healthcare_and_social_assistance                 565 non-null    int64
 11  total_arts_and_entertainment                                       565 non-null    int64
 12  total_other_services                                               565 non-null    int64
 13  total_public_administration                                        565 non-null    int64
 14  total_management_business_science_and_arts_occupations             565 non-null    int64
 15  total_service_occupations                                          565 non-null    int64
 16  total_sales_and_office_occupations                                 565 non-null    int64
 17  total_natural_resources_and_maintenance_occupations                565 non-null    int64
 18  total_production,_transportation,_and_material_moving_occupations  565 non-null    int64
 19  population_of_one_race_total                                       565 non-null    int64
 20  white                                                              565 non-null    int64
 21  black_or_african_american                                          565 non-null    int64
 22  american_indian_and_alaska_native                                  565 non-null    int64
 23  asian_alone                                                        565 non-null    int64
 24  native_hawaiian_and_other_pacific_islander                         565 non-null    int64
 25  population_of_one_race_some_other_race                             565 non-null    int64
 26  median_age:_total                                                  565 non-null    float64
 27  ed_total                                                           565 non-null    int64
 28  ed_no_schooling_completed                                          565 non-null    int64
 29  ed_nursery_school                                                  565 non-null    int64
 30  ed_kindergarten                                                    565 non-null    int64
 31  ed_1st_grade                                                       565 non-null    int64
 32  ed_2nd_grade                                                       565 non-null    int64
 33  ed_3rd_grade                                                       565 non-null    int64
 34  ed_4th_grade                                                       565 non-null    int64
 35  ed_5th_grade                                                       565 non-null    int64
 36  ed_6th_grade                                                       565 non-null    int64
 37  ed_7th_grade                                                       565 non-null    int64
 38  ed_8th_grade                                                       565 non-null    int64
 39  ed_9th_grade                                                       565 non-null    int64
 40  e_10th_grade                                                       565 non-null    int64
 41  ed_11th_grade                                                      565 non-null    int64
 42  ed_12th_grade_no_diploma                                           565 non-null    int64
 43  median_income                                                      561 non-null    float64
 44  unemployed_pop_16_years_and_over                                   565 non-null    int64
 45  in_civilian_labor_force                                            565 non-null    int64
 46  under_19_no_health_insurance_coverage                              565 non-null    int64
 47  19_to_34_years_no_health_insurance_coverage                        565 non-null    int64
 48  35_to_64_years_no_health_insurance_coverage                        565 non-null    int64
 49  health_insurance_total                                             565 non-null    int64
 50  65_years_and_over_no_health_insurance_coverage                     565 non-null    int64
 51  total_population_estimate                                          565 non-null    int64
 52  state_fip                                                          565 non-null    int64
 53  county_fip                                                         565 non-null    int64
dtypes: float64(2), int64(51), object(1)
memory usage: 238.5+ KB

In [10]:
df2019 = pd.read_csv('../../data/county_data_2019.csv')

In [11]:
df2019.county_fip.value_counts()

1      5
89     5
65     5
67     5
69     5
      ..
327    1
325    1
323    1
321    1
253    1
Name: county_fip, Length: 255, dtype: int64

In [12]:
df2019.rename(columns=dict,
          inplace=True)

In [13]:
df2019.columns = df2019.columns.str.lower()
df2019.columns = df2019.columns.str.replace(' ', "_")
df2019.head()

,unnamed:_0,total_agriculture,total_construction,total_manufacturing,total_wholesale_trade,total_retail_trade,transportation_warehousing_utilities,total_information,total_finance_and_real_estate,total_scientific_administrative_and_waste_management_services,...,unemployed_pop_16_years_and_over,in_civilian_labor_force,under_19_no_health_insurance_coverage,19_to_34_years_no_health_insurance_coverage,35_to_64_years_no_health_insurance_coverage,health_insurance_total,65_years_and_over_no_health_insurance_coverage,total_population_estimate,state_fip,county_fip
0,"Alameda County, California: Summary level: 050...",3129,45984,84548,21494,76483,44172,30599,52291,171666,...,41725,904174,7760,28217,33795,1647749,2304,1656754,6,1
1,"Alpine County, California: Summary level: 050,...",26,23,9,0,36,18,10,5,38,...,49,392,8,29,55,1039,0,1039,6,3
2,"Amador County, California: Summary level: 050,...",702,1069,587,155,1588,794,276,604,1228,...,1010,14675,208,477,937,34742,0,38429,6,5
3,"Butte County, California: Summary level: 050, ...",3874,5785,6529,1728,12678,3569,1750,4823,9164,...,8462,104557,1564,6225,5807,223229,138,225817,6,7
4,"Calaveras County, California: Summary level: 0...",582,1856,1463,397,1652,919,317,810,1964,...,1174,18397,59,652,1253,45112,9,45514,6,9

In [14]:
df2019['county_fip'] = df2019.county_fip.astype(str).str.zfill(3)
df2019['state_fip'] = df2019.state_fip.astype(str).str.zfill(2)
df2019.head()

,unnamed:_0,total_agriculture,total_construction,total_manufacturing,total_wholesale_trade,total_retail_trade,transportation_warehousing_utilities,total_information,total_finance_and_real_estate,total_scientific_administrative_and_waste_management_services,...,unemployed_pop_16_years_and_over,in_civilian_labor_force,under_19_no_health_insurance_coverage,19_to_34_years_no_health_insurance_coverage,35_to_64_years_no_health_insurance_coverage,health_insurance_total,65_years_and_over_no_health_insurance_coverage,total_population_estimate,state_fip,county_fip
0,"Alameda County, California: Summary level: 050...",3129,45984,84548,21494,76483,44172,30599,52291,171666,...,41725,904174,7760,28217,33795,1647749,2304,1656754,06,001
1,"Alpine County, California: Summary level: 050,...",26,23,9,0,36,18,10,5,38,...,49,392,8,29,55,1039,0,1039,06,003
2,"Amador County, California: Summary level: 050,...",702,1069,587,155,1588,794,276,604,1228,...,1010,14675,208,477,937,34742,0,38429,06,005
3,"Butte County, California: Summary level: 050, ...",3874,5785,6529,1728,12678,3569,1750,4823,9164,...,8462,104557,1564,6225,5807,223229,138,225817,06,007
4,"Calaveras County, California: Summary level: 0...",582,1856,1463,397,1652,919,317,810,1964,...,1174,18397,59,652,1253,45112,9,45514,06,009

In [15]:
df2015['county_fip'] = df2015.county_fip.astype(str).str.zfill(3)
df2015['state_fip'] = df2015.state_fip.astype(str).str.zfill(2)
df2015.head()

,unnamed:_0,total_agriculture,total_construction,total_manufacturing,total_wholesale_trade,total_retail_trade,transportation_warehousing_utilities,total_information,total_finance_and_real_estate,total_scientific_administrative_and_waste_management_services,...,unemployed_pop_16_years_and_over,in_civilian_labor_force,under_19_no_health_insurance_coverage,19_to_34_years_no_health_insurance_coverage,35_to_64_years_no_health_insurance_coverage,health_insurance_total,65_years_and_over_no_health_insurance_coverage,total_population_estimate,state_fip,county_fip
0,"Alameda County, California: Summary level: 050...",3308,39861,80961,20969,75187,39042,24187,47611,133336,...,70100,848232,13753,68307,73763,1573351,2911,1584983,06,001
1,"Alpine County, California: Summary level: 050,...",0,24,15,0,49,38,6,6,73,...,49,457,19,84,116,1131,0,1131,06,003
2,"Amador County, California: Summary level: 050,...",195,820,568,165,1884,525,188,523,1158,...,2048,14621,259,603,1829,32880,0,36995,06,005
3,"Butte County, California: Summary level: 050, ...",3249,4682,5355,1625,12125,2596,1620,4508,8744,...,12264,101675,3841,13194,12052,220313,177,222564,06,007
4,"Calaveras County, California: Summary level: 0...",496,1662,1326,373,1819,922,201,661,1713,...,2227,18475,419,1725,2344,44382,10,44767,06,009

In [16]:
df2015.to_csv('../../data/df2015.csv')

In [17]:
df2019.to_csv('../../data/df2019.csv')

In [23]:
notMI = df2015.loc[(df2015['state_fip'] == '26')]

In [24]:
notMI

,unnamed:_0,total_agriculture,total_construction,total_manufacturing,total_wholesale_trade,total_retail_trade,transportation_warehousing_utilities,total_information,total_finance_and_real_estate,total_scientific_administrative_and_waste_management_services,...,unemployed_pop_16_years_and_over,in_civilian_labor_force,under_19_no_health_insurance_coverage,19_to_34_years_no_health_insurance_coverage,35_to_64_years_no_health_insurance_coverage,health_insurance_total,65_years_and_over_no_health_insurance_coverage,total_population_estimate,state_fip,county_fip
228,"Alcona County, Michigan: Summary level: 050, s...",89,213,521,34,363,275,56,125,233,...,457,3745,69,374,656,10454,0,10550,26,001
229,"Alger County, Michigan: Summary level: 050, st...",128,156,422,69,302,121,98,132,135,...,383,3549,69,387,536,8499,27,9476,26,003
230,"Allegan County, Michigan: Summary level: 050, ...",1775,3434,13706,1698,4810,1885,544,1898,4087,...,3323,54404,715,3536,5509,112118,6,112837,26,005
231,"Alpena County, Michigan: Summary level: 050, s...",366,855,1264,314,1750,660,150,607,717,...,1257,13490,329,1216,1873,28703,7,29068,26,007
232,"Antrim County, Michigan: Summary level: 050, s...",320,821,1533,148,1131,323,162,416,702,...,1021,10549,209,939,1453,23101,1,23267,26,009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Tuscola County, Michigan: Summary level: 050, ...",979,1519,4110,441,2989,1229,226,871,1423,...,2368,25442,424,1937,2989,53502,22,54420,26,157
307,"Van Buren County, Michigan: Summary level: 050...",1507,2129,5898,784,3622,1401,372,1367,2649,...,2975,35227,916,3197,4701,74891,26,75351,26,159
308,"Washtenaw County, Michigan: Summary level: 050...",901,5291,19186,2806,16384,5261,3614,7122,20207,...,14001,190384,1726,11821,8095,349733,145,354092,26,161
309,"Wayne County, Michigan: Summary level: 050, st...",1929,27563,116065,16407,76227,42009,12491,38327,73772,...,121718,818618,16748,93389,105265,1766776,1783,1778969,26,163
310,"Wexford County, Michigan: Summary level: 050, ...",339,545,2788,219,1742,725,200,526,980,...,1404,14845,515,1409,1823,32506,20,32751,26,165

In [25]:
565-83

482