In [49]:
import numpy as np 
import pandas as pd
df = pd.read_csv('../../data/florida_2015.csv')
df2 = pd.read_csv('../../data/florida_2015.csv')
counties = pd.read_csv('../../data/fl_counties.csv', names = ['fips', 'name'])
fips_dict = counties.set_index('name')['fips'].to_dict()
df['county'] = df['county'].map(lambda x: x.rstrip('3'))
df['fips'] = df['county'].map(fips_dict)

df2['county'] = df2['county'].map(lambda x: x.rstrip('3'))
df2['fips'] = df2['county'].map(fips_dict)

In [16]:
fips_dict

{'Alachua': 12001,
 'Baker': 12003,
 'Bay': 12005,
 'Bradford': 12007,
 'Brevard': 12009,
 'Broward': 12011,
 'Calhoun': 12013,
 'Charlotte': 12015,
 'Citrus': 12017,
 'Clay': 12019,
 'Collier': 12021,
 'Columbia': 12023,
 'De Soto': 12027,
 'Dixie': 12029,
 'Duval': 12031,
 'Escambia': 12033,
 'Flagler': 12035,
 'Franklin': 12037,
 'Gadsden': 12039,
 'Gilchrist': 12041,
 'Glades': 12043,
 'Gulf': 12045,
 'Hamilton': 12047,
 'Hardee': 12049,
 'Hendry': 12051,
 'Hernando': 12053,
 'Highlands': 12055,
 'Hillsborough': 12057,
 'Holmes': 12059,
 'Indian River': 12061,
 'Jackson': 12063,
 'Jefferson': 12065,
 'Lafayette': 12067,
 'Lake': 12069,
 'Lee': 12071,
 'Leon': 12073,
 'Levy': 12075,
 'Liberty': 12077,
 'Madison': 12079,
 'Manatee': 12081,
 'Marion': 12083,
 'Martin': 12085,
 'Miami-Dade': 12086,
 'Monroe': 12087,
 'Nassau': 12089,
 'Okaloosa': 12091,
 'Okeechobee': 12093,
 'Orange': 12095,
 'Osceola': 12097,
 'Palm Beach': 12099,
 'Pasco': 12101,
 'Pinellas': 12103,
 'Polk': 12105,
 'Putnam': 12107,
 'St Johns': 12109,
 'St Lucie': 12111,
 'Santa Rosa': 12113,
 'Sarasota': 12115,
 'Seminole': 12117,
 'Sumter': 12119,
 'Suwannee': 12121,
 'Taylor': 12123,
 'Union': 12125,
 'Volusia': 12127,
 'Wakulla': 12129,
 'Walton': 12131,
 'Washington': 12133}

In [17]:
# df.iloc[67, 15]=12109
# df.iloc[68, 15]=00000
# df.iloc[69, 15]=12111
# df.iloc[70, 15]=12099
# df.iloc[71, 15]=12073
# df.iloc[72, 15]=12011
# df.iloc[73, 15]=12073
# df.iloc[74, 15]=12001
# df.iloc[75, 15]=00000

In [19]:
df

,county,num_schools,num_students,full_immunization_count,full_immunization_perc,temp_medical_exemp_count,temp_medical_exemp_perc,perm_medical_exemp_count,perm_medical_exemp_perc,religious_exemp_count,religious_exemp_perc,30_day_exemp_count,30_day_exemp_perc,fips
0,Alachua,52,"2,667","2,502",93.8%,90,3.4%,6.0,0.2%,45,1.7%,23,0.9%,12001
1,Baker,2,358,353,98.6%,2,0.6%,0.0,0.0%,3,0.8%,0,"0.0""/o",12003
2,Bay,33,"2,305","2,221",96.4%,50,2.2%,1.0,0.0%,30,1.3%,2,0.1%,12005
3,Bradford,10,324,311,96.0%,13,4.0%,0.0,0.0%,0,0.0%,0,"0.0""/o",12007
4,Brevard,110,"5,850","5,597",95.7%,84,1.4%,12.0,0.2%,144,2.5%,13,0.2%,12009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Union,2,198,194,98.0%,1,0.5%,1.0,0.5%,2,1.0%,0,0.0%,12125
63,Volusia,96,"5,066","4,776",94.3%,94,1.9%,12.0,0.2%,157,3.1%,22,0.4%,12127
64,Wakulla,6,366,359,98.1%,3,0.8%,2.0,0.5%,2,0.5%,0,0.0%,12129
65,Walton,13,734,694,94.6%,8,1.1%,0.0,0.0%,24,3.3%,8,1.1%,12131
66,Washington,4,269,266,98.9%,1,0.4%,0.0,0.0%,2,0.7%,0,0.0%,12133

In [47]:
fl_vax_df_2015 = df[['fips', 'full_immunization_perc']]
fl_vax_df_2015['vax_percentage'] = fl_vax_df_2015['full_immunization_perc']
fl_vax_df_2015 = fl_vax_df_2015.drop('full_immunization_perc', axis=1)
fl_vax_df_2015['vax_percentage'] = fl_vax_df_2015['vax_percentage'].str.strip('%').astype(float)
fl_vax_df_2015['vax_percentage'] = fl_vax_df_2015['vax_percentage']/100

<ipython-input-47-098226deeaa7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl_vax_df_2015['vax_percentage'] = fl_vax_df_2015['full_immunization_perc']

In [48]:
fl_vax_df_2015

     fips  vax_percentage
0   12001           0.938
1   12003           0.986
2   12005           0.964
3   12007           0.960
4   12009           0.957
..    ...             ...
62  12125           0.980
63  12127           0.943
64  12129           0.981
65  12131           0.946
66  12133           0.989

[67 rows x 2 columns]

In [51]:
fl_vax_df_2019 = df2[['fips', 'full_immunization_perc']]
fl_vax_df_2019['vax_percentage'] = fl_vax_df_2019['full_immunization_perc']
fl_vax_df_2019 = fl_vax_df_2019.drop('full_immunization_perc', axis=1)
fl_vax_df_2019['vax_percentage'] = fl_vax_df_2019['vax_percentage'].str.strip('%').astype(float)
fl_vax_df_2019['vax_percentage'] = fl_vax_df_2019['vax_percentage']/100

<ipython-input-51-46902ffd20cd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl_vax_df_2019['vax_percentage'] = fl_vax_df_2019['full_immunization_perc']

In [52]:
fl_vax_df_2019

     fips  vax_percentage
0   12001           0.938
1   12003           0.986
2   12005           0.964
3   12007           0.960
4   12009           0.957
..    ...             ...
62  12125           0.980
63  12127           0.943
64  12129           0.981
65  12131           0.946
66  12133           0.989

[67 rows x 2 columns]

In [53]:
fl_vax_df_2015.to_csv('../../data/fl_vax_df_2015.csv', index=False)
fl_vax_df_2019.to_csv('../../data/fl_vax_df_2019.csv', index=False)