Index(['Year', 'Region', 'County Name', 'District Name', 'District Number',
       'Campus Name', 'Campus Number', 'Grade Level Name',
       'Enrollment by Grade Level'],
      dtype='object')

In [217]:
import numpy as np 
import pandas as pd
df = pd.read_csv('../../data/texas_2015.csv')
df2 = pd.read_csv('../../data/texas_2018.csv')
counties = pd.read_csv('../../data/tx_counties.csv', names = ['fips', 'name'])
#df3 = pd.read_csv('../../data/tx_enrollment_2015.csv', engine='python', sep='delimiter', header=None)
df3 = pd.read_csv('../../data/texas_enrollment_2015.csv')
df = df.drop(1737, axis=0)
df = df.drop(1738, axis=0)
df3 = df3[df3['Grade Level Name'] == 'Kindergarten']

In [110]:
# df3['Campus Name'] = df3['Campus Name'].str.title()
# df3['Campus Number'] = df3['Campus Number'].astype(int)

In [111]:
# enrollment_dict = df3.set_index('Campus Number')['Enrollment by Grade Level'].to_dict()
# df2['enrollment'] = df2['Facility Number'].map(enrollment_dict)

In [116]:
#df.enrollment.isna().sum()

,Facility Number,School Type,Facility Name,Facility Address,County,DTP/DTaP/DT/Td,Hepatitis A,Hepatitis B,MMR,Polio,Varicella,year,state,fips
0,9057816000,Public ISD,A W Brown Leadership Academy,"5701 RED BIRD CTR DR, DALLAS, TX, 75237",Dallas,0.831731,0.908654,0.947115,0.850962,0.841346,0.850962,2018,TX,48113
1,9057829000,Public ISD,A+ Academy,"8225 BRUTON RD, DALLAS, TX, 75217",Dallas,1.000000,1.000000,1.000000,0.990909,1.000000,1.000000,2018,TX,48113
2,9109901000,Public ISD,Abbott ISD,"P O BOX 226, ABBOTT, TX, 76621",Hill,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2018,TX,48217
3,7101130101,Private School,Abercrombie Academy,"17102 Theiss Mail Road, Spring, TX, 77379",Harris,1.000000,1.000000,1.000000,0.750000,1.000000,0.750000,2018,TX,48201
4,9095901000,Public ISD,Abernathy ISD,"505 7TH ST, ABERNATHY, TX, 79311",Hale,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2018,TX,48189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762,9253901000,Public ISD,Zapata County ISD,"P O BOX 158, ZAPATA, TX, 78076",Zapata,0.991632,0.995816,1.000000,0.995816,0.995816,0.995816,2018,TX,48505
1763,9003906000,Public ISD,Zavalla ISD,"431 E MAIN ST, ZAVALLA, TX, 75980",Angelina,0.944444,0.944444,0.944444,0.944444,0.944444,0.944444,2018,TX,48005
1764,9025906000,Public ISD,Zephyr ISD,"11625 CR 281, ZEPHYR, TX, 76890",Brown,1.000000,0.937500,1.000000,1.000000,1.000000,1.000000,2018,TX,48049
1765,7057155101,Private School,Zion Lutheran School Dallas,"6121 E Lovers Lane, Dallas, TX, 75214",Dallas,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2018,TX,48113
1766,7246151101,Private School,Zion Walburg Lutheran School Georgetown,"6101 FM 1105, Georgetown, TX, 78626",Williamson,0.875000,0.875000,0.875000,0.875000,0.875000,0.875000,2018,TX,48491

In [219]:
fips_dict = counties.set_index('name')['fips'].to_dict()

In [220]:
df['County'] = df['County'].str.title()
df['fips'] = df['County'].map(fips_dict)
df2['County'] = df2['County'].str.title()
df2['fips'] = df2['County'].map(fips_dict)

In [221]:
df.isna().sum()

Facility               0
Address                0
facility_id            0
School Type            0
County                 0
DTP/DTaP/DT/Td         3
Hepatitis A            3
Hepatitis B            3
MMR (2 doses)          3
Polio                  3
Varicella (2 doses)    3
year                   0
state                  0
fips                   0
dtype: int64

In [222]:
df[df.fips.isna()]['County'].unique()

array([], dtype=object)

In [223]:
df2.isna().sum()

Facility Number     0
School Type         0
Facility Name       0
Facility Address    0
County              0
DTP/DTaP/DT/Td      0
Hepatitis A         0
Hepatitis B         0
MMR                 0
Polio               1
Varicella           0
year                0
state               0
fips                0
dtype: int64

In [224]:
df.Facility.head(20)

0                Abercorn International School
1                 Abiding Word Lutheran School
2                     Abilene Christian School
3                                  Ace Academy
4       Al-Hadi School of Accelerated Learning
5                       All Saints Catholic El
6                   All Saints Catholic School
7                       All Saints' Day School
8       All Saints Episcopal School Fort Worth
9          All Saints Episcopal School Lubbock
10        All Saints Episcopal School of Tyler
11                               Allen Academy
12                  Alliance Christian Academy
13                         Alpha Omega Academy
14                     Alpine Christian School
15              Ambleside School of San Angelo
16                      Angelo Catholic School
17                   Angleton Christian School
18    Ann and Nate Levine Academy-A Solomon Sc
19                 Annapolis Christian Academy
Name: Facility, dtype: object

In [225]:
def vax_percentage(df):
    percentage_list = []
    for county in county_list:
        c_df = df[df.countyname == county]
        c_df['number_vaccinated'] = c_df['Enrollment PreK-12']* c_df['Protection %']
        enrollment = c_df['Enrollment PreK-12'].sum()
        percentage_vaccinated = (c_df['number_vaccinated'].sum()) / enrollment
        percentage_list.append(percentage_vaccinated)
    return percentage_list

In [226]:
vax_rate_df = df[['DTP/DTaP/DT/Td', 'Hepatitis A', 'Hepatitis B', 'MMR (2 doses)', 'Polio', 'Varicella (2 doses)', 'fips']]

In [227]:
vax_rate_df.var()

DTP/DTaP/DT/Td             0.005593
Hepatitis A                0.004696
Hepatitis B                0.004224
MMR (2 doses)              0.006621
Polio                      0.006604
Varicella (2 doses)        0.007847
fips                   21224.495478
dtype: float64

In [228]:
df[df['DTP/DTaP/DT/Td'] == 0]

,Facility,Address,facility_id,School Type,County,DTP/DTaP/DT/Td,Hepatitis A,Hepatitis B,MMR (2 doses),Polio,Varicella (2 doses),year,state,fips
967,George Gervin Academy,"6944 SUNBELT DR S, SAN ANTONIO, Texas 78218",26836.0,Public,Bexar,0.0,0.0,0.0,0.8333,0.0,0.0,2015,TX,48029
1046,Harmony Science Academy (Austin),"9321 W SAM HOUSTON PKWY S, HOUSTON, Texas 77099",27873.0,Public,Travis,0.0,0.0,0.0,0.0000,0.0,0.0,2015,TX,48453

In [229]:
len(df.fips)

1737

In [230]:
vax_rate_df = vax_rate_df.drop([967, 1046], axis=0)

In [231]:
def vax_percentage(df):
    percentage_list = []
    for fip in df.fips.unique():
        c_df = df[df.fips == fip]
        #c_df['vaccinated_n'] = c_df['total_students']* c_df['vaccinated_perc']
        #enrollment = c_df['total_students'].sum()
        percentage_vaccinated = c_df['MMR (2 doses)'].sum()/len(c_df['MMR (2 doses)'])
        percentage_list.append(percentage_vaccinated)
    return percentage_list

In [232]:
percentage_list2015 = vax_percentage(df)
fips_dict = counties.set_index('name')['fips'].to_dict()
tx_vax_df_2015 = pd.DataFrame(data=([df.fips.unique(), percentage_list2015])).T
tx_vax_df_2015 = tx_vax_df_2015.rename(columns={0:'fips', 1:'vax_percentage'})
tx_vax_df_2015.fips = tx_vax_df_2015.fips.astype(int)

In [233]:
tx_vax_df_2015

      fips  vax_percentage
0    48453        0.902988
1    48201        0.954129
2    48441        0.979000
3    48439        0.948969
4    48113        0.949586
..     ...             ...
247  48443        1.000000
248  48359        0.928550
249  48087        0.981100
250  48447        1.000000
251  48505        0.996300

[252 rows x 2 columns]

In [236]:
def vax_percentage2018(df):
    percentage_list = []
    for fip in df.fips.unique():
        c_df = df[df.fips == fip]
        #c_df['vaccinated_n'] = c_df['total_students']* c_df['vaccinated_perc']
        #enrollment = c_df['total_students'].sum()
        percentage_vaccinated = c_df['MMR'].sum()/len(c_df['MMR'])
        percentage_list.append(percentage_vaccinated)
    return percentage_list

In [237]:
percentage_list2018 = vax_percentage2018(df2)
fips_dict = counties.set_index('name')['fips'].to_dict()
tx_vax_df_2018 = pd.DataFrame(data=([df.fips.unique(), percentage_list2018])).T
tx_vax_df_2018 = tx_vax_df_2018.rename(columns={0:'fips', 1:'vax_percentage'})
tx_vax_df_2018.fips = tx_vax_df_2018.fips.astype(int)

In [238]:
tx_vax_df_2018

      fips  vax_percentage
0    48453        0.946800
1    48201        0.932204
2    48441        0.940727
3    48439        0.940661
4    48113        0.956247
..     ...             ...
247  48443        1.000000
248  48359        0.933333
249  48087        0.978261
250  48447        0.944444
251  48505        0.995816

[252 rows x 2 columns]

In [239]:
tx_vax_df_2015.to_csv('../../data/tx_vax_df_2015.csv', index=False)
tx_vax_df_2018.to_csv('../../data/tx_vax_df_2018.csv', index=False)