In [4]:
import pandas as pd

In [62]:
election_url = "../../data/countypres_2000-2020.csv"

In [63]:
elec = pd.read_csv(election_url)

In [64]:
vaccine_url = "../../data/COVID-19_Vaccinations_in_the_United_States_County.csv"

In [65]:
vacc = pd.read_csv(vaccine_url)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [140]:
geo_url = "../../data/geo.csv"

In [141]:
geo = pd.read_csv(geo_url)

In [142]:
geo.head(2)

,Sort [1],State,FIPS,County [2],County Seat(s) [3],Population(2010),Land Areakm²,Land Areami²,Water Areakm²,Water Areami²,Total Areakm²,Total Areami²,Latitude,Longitude
0,1,AL,1001,Autauga,Prattville,"54,571","1,539.582",594.436,25.776,9.952,"1,565.358",604.388,+32.536382°,–86.644490°
1,2,AL,1003,Baldwin,Bay Minette,"182,265","4,117.522","1,589.784","1,133.190",437.527,"5,250.712","2,027.311",+30.659218°,–87.746067°

In [143]:
vacc.head(2)

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,Administered_Dose1_Recip_12PlusPop_Pct,Administered_Dose1_Recip_18Plus,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65Plus,Administered_Dose1_Recip_65PlusPop_Pct,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI
0,07/16/2021,02090,28,Fairbanks North Star Borough,AK,40.7,39453,39366,48.9,37459,...,55.4,42396.0,57.4,8135.0,75.1,Low-Mod,Mod-High VC/Low-Mod SVI,Mod-High VC/Low-Mod SVI,High VC/Low-Mod SVI,High VC/Low-Mod SVI
1,07/16/2021,UNK,28,Unknown County,KS,0.0,84341,84336,0.0,82542,...,0.0,108681.0,0.0,32178.0,0.0,NaN,NaN,NaN,NaN,NaN

In [144]:
elec.head(2)

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,2000,ALABAMA,AL,AUTAUGA,1001.0,PRESIDENT,AL GORE,DEMOCRAT,4942.0,17208.0,20191203,TOTAL
1,2000,ALABAMA,AL,AUTAUGA,1001.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993.0,17208.0,20191203,TOTAL

In [145]:
elec[(elec["state_po"]== "AL") & (elec["county_name"]== "JEFFERSON") & (elec["year"]==2020)]

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
50632,2020,ALABAMA,AL,JEFFERSON,1073.0,PRESIDENT,JOSEPH R BIDEN JR,DEMOCRAT,181688.0,325848.0,20210622,TOTAL
50633,2020,ALABAMA,AL,JEFFERSON,1073.0,PRESIDENT,OTHER,OTHER,5317.0,325848.0,20210622,TOTAL
50634,2020,ALABAMA,AL,JEFFERSON,1073.0,PRESIDENT,DONALD J TRUMP,REPUBLICAN,138843.0,325848.0,20210622,TOTAL

In [146]:
vacc[(vacc["Recip_State"] == "AL") & (vacc["Recip_County"] == "Jefferson County") & (vacc["Date"].str[-4:]=="2020")].head(2)

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,Administered_Dose1_Recip_12PlusPop_Pct,Administered_Dose1_Recip_18Plus,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65Plus,Administered_Dose1_Recip_65PlusPop_Pct,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI
649375,12/31/2020,01073,53,Jefferson County,AL,0.0,0,0,0.0,0,...,0.0,NaN,0.0,NaN,0.0,Mod-High,NaN,NaN,NaN,NaN
651194,12/30/2020,01073,53,Jefferson County,AL,0.0,0,0,0.0,0,...,0.0,NaN,0.0,NaN,0.0,Mod-High,NaN,NaN,NaN,NaN

In [147]:
#geo cleanup
geo.replace(',','', regex=True, inplace=True)
geo["Longitude"] = geo["Longitude"].map(lambda l: float(l[1: -2])*-1 if l[0] == "–" else float(l[1: -2]))
geo["Latitude"] = geo["Latitude"].map(lambda l: float(l[1: -2])*-1 if l[0] == "–" else float(l[1: -2]))
geo.drop(["Land Areakm²", "Total Areakm²", "Water Areakm²", "County Seat(s) [3]", "Sort [1]"], axis=1, inplace=True)
geo_clean["FIPS"] = geo_clean['FIPS'].map(lambda x: int("0" + str(x)))
geo_clean = geo

In [153]:
geo_clean.head()

,State,FIPS,County [2],Population(2010),Land Areami²,Water Areami²,Total Areami²,Latitude,Longitude
0,AL,100112,Autauga,54571,594.436,9.952,604.388,32.53638,-86.64449
1,AL,100312,Baldwin,182265,1589.784,437.527,2027.311,30.65921,-87.74606
2,AL,100512,Barbour,27457,884.876,19.639,904.515,31.87067,-85.40545
3,AL,100712,Bibb,22915,622.582,3.587,626.169,33.01589,-87.12714
4,AL,100912,Blount,57322,644.776,5.852,650.628,33.97744,-86.56724

In [151]:
geo_clean.shape

(3143, 9)