In [1]:
import pandas as pd
import numpy as np

In [2]:
pres_url = "../../data/countypres_2000-2020.csv"

In [3]:
pres = pd.read_csv(pres_url)

In [4]:
pres = pres[(pres["state_po"]=="TX") | (pres["state_po"]=="FL") | (pres["state_po"]=="CA") | (pres["state_po"]=="IL")]

In [5]:
vaccine_url = "../../data/COVID-19_Vaccinations_in_the_United_States_County.csv"

In [6]:
vacc = pd.read_csv(vaccine_url)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
vacc = vacc[(vacc["Recip_State"]=="TX") | (vacc["Recip_State"]=="FL") | (vacc["Recip_State"]=="CA") | (vacc["Recip_State"]=="IL")]

In [8]:
geo_url = "../../data/geo.csv"

In [9]:
geo = pd.read_csv(geo_url)

In [10]:
geo = geo[(geo["State"]=="TX") | (geo["State"]=="FL") | (geo["State"]=="CA") | (geo["State"]=="IL")]

In [11]:
geo.head(2)

,Sort [1],State,FIPS,County [2],County Seat(s) [3],Population(2010),Land Areakm²,Land Areami²,Water Areakm²,Water Areami²,Total Areakm²,Total Areami²,Latitude,Longitude
186,187,CA,6001,Alameda,Oakland,"1,510,271","1,914.046",739.017,213.185,82.311,"2,127.231",821.328,+37.648081°,–121.913304°
187,188,CA,6003,Alpine,Markleeville,"1,175","1,912.272",738.332,12.557,4.848,"1,924.829",743.180,+38.617610°,–119.798999°

In [13]:
pres.head(2)

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
628,2000,CALIFORNIA,CA,ALAMEDA,6001.0,PRESIDENT,AL GORE,DEMOCRAT,342889.0,494336.0,20191203,TOTAL
629,2000,CALIFORNIA,CA,ALAMEDA,6001.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,119279.0,494336.0,20191203,TOTAL

In [14]:
vacc[(vacc["Recip_State"] == "AL") & (vacc["Recip_County"] == "Jefferson County") & (vacc["Date"].str[-4:]=="2020")].head(2)

Empty DataFrame
Columns: [Date, FIPS, MMWR_week, Recip_County, Recip_State, Series_Complete_Pop_Pct, Series_Complete_Yes, Series_Complete_12Plus, Series_Complete_12PlusPop_Pct, Series_Complete_18Plus, Series_Complete_18PlusPop_Pct, Series_Complete_65Plus, Series_Complete_65PlusPop_Pct, Completeness_pct, Administered_Dose1_Recip, Administered_Dose1_Pop_Pct, Administered_Dose1_Recip_12Plus, Administered_Dose1_Recip_12PlusPop_Pct, Administered_Dose1_Recip_18Plus, Administered_Dose1_Recip_18PlusPop_Pct, Administered_Dose1_Recip_65Plus, Administered_Dose1_Recip_65PlusPop_Pct, SVI_CTGY, Series_Complete_Pop_Pct_SVI, Series_Complete_12PlusPop_Pct_SVI, Series_Complete_18PlusPop_Pct_SVI, Series_Complete_65PlusPop_Pct_SVI]
Index: []

[0 rows x 27 columns]

In [12]:
vacc.head(2)

,Date,FIPS,MMWR_week,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Series_Complete_12Plus,Series_Complete_12PlusPop_Pct,Series_Complete_18Plus,...,Administered_Dose1_Recip_12PlusPop_Pct,Administered_Dose1_Recip_18Plus,Administered_Dose1_Recip_18PlusPop_Pct,Administered_Dose1_Recip_65Plus,Administered_Dose1_Recip_65PlusPop_Pct,SVI_CTGY,Series_Complete_Pop_Pct_SVI,Series_Complete_12PlusPop_Pct_SVI,Series_Complete_18PlusPop_Pct_SVI,Series_Complete_65PlusPop_Pct_SVI
2,07/16/2021,UNK,28,Unknown County,IL,0.0,140576,140521,0.0,138618,...,0.0,193352.0,0.0,41928.0,0.0,NaN,NaN,NaN,NaN,NaN
5,07/16/2021,17045,28,Edgar County,IL,32.1,5502,5497,36.8,5383,...,46.9,6842.0,50.0,3102.0,80.2,Low-Mod,Low-Mod VC/Low-Mod SVI,Low-Mod VC/Low-Mod SVI,Low-Mod VC/Low-Mod SVI,Mod-High VC/Low-Mod SVI

In [15]:
#pres cleanup
pres = pres.rename(columns={"county_fips":"FIPS"})

In [16]:
pres_cleaned = pres
pres_cleaned.head(2)

,year,state,state_po,county_name,FIPS,office,candidate,party,candidatevotes,totalvotes,version,mode
628,2000,CALIFORNIA,CA,ALAMEDA,6001.0,PRESIDENT,AL GORE,DEMOCRAT,342889.0,494336.0,20191203,TOTAL
629,2000,CALIFORNIA,CA,ALAMEDA,6001.0,PRESIDENT,GEORGE W. BUSH,REPUBLICAN,119279.0,494336.0,20191203,TOTAL

In [17]:
#geo cleanup
geo.replace(',','', regex=True, inplace=True)
geo["Longitude"] = geo["Longitude"].map(lambda l: float(l[1: -2])*-1 if l[0] == "–" else float(l[1: -2]))
geo["Latitude"] = geo["Latitude"].map(lambda l: float(l[1: -2])*-1 if l[0] == "–" else float(l[1: -2]))
geo.drop(["Land Areakm²", "Total Areakm²", "Water Areakm²", "County Seat(s) [3]", "Sort [1]"], axis=1, inplace=True)
geo["FIPS"] = geo['FIPS'].map(lambda x: int("0" + str(x)))
geo_clean = geo

In [18]:
pres_cleaned.dropna( inplace=True)

In [19]:
pres_groups = list(pres_cleaned.groupby(['year', 'FIPS']).groups.keys())

In [20]:
row_cols = ["year", "fips", "office", "dem_votes", "rep_votes"]

In [21]:
pres_clean = pd.DataFrame(columns = row_cols)

In [22]:
error_group = None
for group in pres_groups:
    year = group[0]
    fips = group[1]
    office = 'president'
    g = pres_cleaned[(pres_cleaned['year'] == group[0]) & (pres_cleaned['FIPS'] == group[1])]
    g.index = np.arange(0, len(g))
    g_year = g.iloc[0]["year"]
    g_FIPS = g.iloc[0]["FIPS"]
    g_office = g.iloc[0]["office"]
    g_demvotes = g[g["party"]=="DEMOCRAT"]["candidatevotes"].values[0]
    g_repvotes = g[g["party"]=="REPUBLICAN"]["candidatevotes"].values[0]
    all_county = [[g_year, g_FIPS, g_office, g_demvotes , g_repvotes]]    
    pres_clean = pres_clean.append(pd.DataFrame(all_county, columns=row_cols))

In [28]:
pres_clean[pres_clean["year"]==2012].head(20)

   year    fips     office  dem_votes  rep_votes
0  2012  6001.0  PRESIDENT   469684.0   108182.0
0  2012  6003.0  PRESIDENT      389.0      236.0
0  2012  6005.0  PRESIDENT     6830.0    10281.0
0  2012  6007.0  PRESIDENT    42669.0    44479.0
0  2012  6009.0  PRESIDENT     8670.0    12365.0
0  2012  6011.0  PRESIDENT     2314.0     3601.0
0  2012  6013.0  PRESIDENT   290824.0   136517.0
0  2012  6015.0  PRESIDENT     3791.0     4614.0
0  2012  6017.0  PRESIDENT    35166.0    50973.0
0  2012  6019.0  PRESIDENT   129129.0   124490.0
0  2012  6021.0  PRESIDENT     3301.0     5632.0
0  2012  6023.0  PRESIDENT    34457.0    18825.0
0  2012  6025.0  PRESIDENT    25136.0    12777.0
0  2012  6027.0  PRESIDENT     3422.0     4340.0
0  2012  6029.0  PRESIDENT    89495.0   126618.0
0  2012  6031.0  PRESIDENT    12979.0    17671.0
0  2012  6033.0  PRESIDENT    13163.0     9200.0
0  2012  6035.0  PRESIDENT     3053.0     7296.0
0  2012  6037.0  PRESIDENT  2216903.0   885333.0
0  2012  6039.0  PRESIDENT    16018.0    22852.0